@import "responsive"

.header
  position: fixed
  width: 100%
  z-index: 1000
  background-color: #ffffff
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15)
  padding-top: 10px
  padding-bottom: 10px

span
  display: inline-block
  vertical-align: middle

ul
  display: inline-block
  margin-left: 41px

  li
    display: inline-block
    margin-left: 40px
    font-size: 16px
    font-weight: bolder
    vertical-align: middle

//
//ul.m
//  display: flex
//  border-top: 1px solid rgba(151, 151, 151, 0.5)
//  padding: 10px
//  box-shadow: 0 2px 2px silver
//  margin-bottom: 2px
//
//  li
//    text-align: center
//    flex: 1 1 auto
//    font-weight: bolder
//    vertical-align: middle
//    font-size: 16px
//

.logo
  padding-top: 10px
  padding-bottom: 5px
//  font-size: 20px
//  font-weight: bold
//  display: inline-block
//  margin-left: 4px
//  margin-top: 3px
//  vertical-align: middle
