<footer>
    <section class="head" *showItSizes="{min:1440}">
        <div class="container">
            <div style="font-weight: bold; line-height: 23px;">
                <span style="font-size: 24px; color: black;">고객센터 1522-6585 (평일 9시~18시)</span>
                <br><br>
                <p style="font-size: 16px">
                    이메일(비즈니스 & 제휴) : info@caring.co.kr<br>
                    카카오톡 : @caring_cs
                </p>
            </div>
            <br>
            <br>
            <div style="font-weight: bold; font-size: 24px; line-height: 23px;">
                <span style="color: black">케어링(주)</span>
                <br><br>
                <p style="font-size: 16px">
                    사업자등록번호 507-81-15401 | 대표 김태성<br>
                    서울특별시 강남구 강남대로 514, 5층 (논현동, 두보빌딩)
                </p>
            </div>
            <br>
            <br>
            © 2021 Caring Co., Ltd.
        </div>
    </section>

    <section class="head" *showItSizes="{min:900,max:1399}">
        <div class="container">
            <div style="font-weight: bold; line-height: 23px;">
                <span style="font-size: 24px; color: black;">고객센터 1522-6585 (평일 9시~18시)</span>
                <br><br>
                <p style="font-size: 16px">
                    이메일(비즈니스 & 제휴) : info@caring.co.kr<br>
                    카카오톡 : @caring_cs
                </p>
            </div>
            <br>
            <br>
            <div style="font-weight: bold; font-size: 24px; line-height: 23px;">
                <span style="color: black">케어링(주)</span>
                <br><br>
                <p style="font-size: 16px">
                    사업자등록번호 507-81-15401 | 대표 김태성<br>
                    서울특별시 강남구 강남대로 514, 5층 (논현동, 두보빌딩)
                </p>
            </div>
            <br>
            <br>
            © 2021 Caring Co., Ltd.
        </div>
    </section>
    <section class="head" *showItSizes="{min:600,max:899}">
        <div class="container" style="width: 85%;">
            <div style="font-weight: bold; line-height: 23px;">
                <span style="font-size: 24px; color: black;">고객센터 1522-6585 (평일 9시~18시)</span>
                <br><br>
                <p style="font-size: 16px">
                    이메일(비즈니스 & 제휴) : info@caring.co.kr<br>
                    카카오톡 : @caring_cs
                </p>
            </div>
            <br>
            <br>
            <div style="font-weight: bold; font-size: 24px; line-height: 23px;">
                <span style="color: black">케어링(주)</span>
                <br><br>
                <p style="font-size: 16px">
                    사업자등록번호 507-81-15401 | 대표 김태성<br>
                    서울특별시 강남구 강남대로 514, 5층 (논현동, 두보빌딩)
                </p>
            </div>
            <br>
            <br>
            © 2021 Caring Co., Ltd.
        </div>
    </section>
    <section *showItSizes="{min:350,max:599}">
        <div class="container">
            <a href="https://blog.naver.com/caring_official" target="_blank">
                <img src="../../assets/img/blog_img.webp" style="position: relative; width: 70px; margin-bottom: 20px; left: -8px" alt="">
            </a>
            <div style="font-weight: bold; line-height: 23px;">
                <span style="font-size: 24px; color: black;">고객센터 1522-6585<br> (평일 9시~18시)</span>
                <br><br>
                <p style="font-size: 16px">
                    이메일(비즈니스 & 제휴) : info@caring.co.kr<br>
                    카카오톡 : @caring_cs
                </p>
            </div>
            <br>
            <br>
            <div style="font-weight: bold; font-size: 24px; line-height: 23px;">
                <span style="color: black">케어링(주)</span>
                <br><br>
                <p style="font-size: 16px">
                    사업자등록번호 507-81-15401 | 대표 김태성<br>
                    서울특별시 강남구 강남대로 514, 5층<br> (논현동, 두보빌딩)
                </p>
            </div>
            <br>
            <br>
            © 2021 Caring Co., Ltd.
        </div>
    </section>
    <section *showItSizes="{max:349}">
        <div class="container">
            <a href="https://blog.naver.com/caring_official" target="_blank">
                <img src="../../assets/img/blog_img.webp" style="position: relative; width: 70px; margin-bottom: 20px; left: -8px" alt="">
            </a>
            <div style="font-weight: bold; line-height: 23px;">
                <span style="font-size: 24px; color: black;">고객센터 1522-6585<br> (평일 9시~18시)</span>
                <br><br>
                <p style="font-size: 16px">
                    이메일(비즈니스 & 제휴)<br>: info@caring.co.kr<br>
                    카카오톡 : @caring_cs
                </p>
            </div>
            <br>
            <br>
            <div style="font-weight: bold; font-size: 24px; line-height: 23px;">
                <span style="color: black">케어링(주)</span>
                <br><br>
                <p style="font-size: 16px">
                    사업자등록번호 507-81-15401<br> 대표 김태성<br>
                    서울특별시 강남구 강남대로 514, 5층<br> (논현동, 두보빌딩)
                </p>
            </div>
            <br>
            <br>
            © 2021 Caring Co., Ltd.
        </div>
    </section>
</footer>
