<footer>
    <section class="head" *showItSizes="{min:1440}">
        <div class="container">
            <div style="font-weight: bold; font-size: 24px; line-height: 23px;">
                고객센터 1522-6585
            </div>
            <br>
            <div style="font-size: 24px; line-height: 32px; margin-bottom: 5px;">
                (주)케어링앤컴퍼니
            </div>
            대표: 김태성 | 주소: 서울시 강남구 강남대로 514<br>
            사업자등록번호 507-81-15401 | fax. 02-3443-2996<br>
            <br>
            <br>
            © 2020 Caring & Company
        </div>
    </section>

    <section class="head" *showItSizes="{min:900,max:1399}">
        <div class="container">
            <div style="font-weight: bold; font-size: 24px; line-height: 23px;">
                고객센터 1522-6585
            </div>
            <br>
            <div style="font-size: 24px; line-height: 32px; margin-bottom: 5px;">
                (주)케어링앤컴퍼니
            </div>
            대표: 김태성 | 주소: 서울시 강남구 강남대로 514<br>
            사업자등록번호 507-81-15401 | fax. 02-3443-2996<br>
            <br>
            <br>
            © 2020 Caring & Company
        </div>
    </section>
    <section class="head" *showItSizes="{min:600,max:899}">
        <div class="container" style="width: 85%;">
            <div style="font-weight: bold; font-size: 24px; line-height: 23px;">
                고객센터 1522-6585
            </div>
            <br>
            <div style="font-size: 24px; line-height: 32px; margin-bottom: 5px;">
                (주)케어링앤컴퍼니
            </div>
            대표: 김태성 | 주소: 서울시 강남구 강남대로 514<br>
            사업자등록번호 507-81-15401 | fax. 02-3443-2996<br>
            <br>
            <br>
            © 2020 Caring & Company
        </div>
    </section>
    <section *showItSizes="{max:599}">
        <div class="container">
            <div style="font-weight: bold; font-size: 24px; line-height: 23px;">
                고객센터 1522-6585
            </div>
            <br>
            <div style="font-size: 24px; line-height: 32px; margin-bottom: 5px;">
                (주)케어링앤컴퍼니
            </div>
            대표: 김태성 | 주소: 서울시 강남구 강남대로 514<br>
            사업자등록번호 507-81-15401 | fax. 02-3443-2996<br>
            <br>
            <br>
            © 2020 Caring & Company
        </div>
    </section>
</footer>
