<section style="padding-top: 127px; padding-bottom: 115px" class="head" *showItSizes="{min:1440}">
    <div class="container">
        <img src="../../assets/img/img-money.webp" style="left: 769px; margin-top: 30px;">
        <h2 style="margin-bottom: 155px; font-size: 40px; line-height: 62px;">이렇게나 좋은 케어링,<br>
            <span style="background-color: #ffd07d;">나라 지원금</span>
            으로<br> 저렴하게 이용하세요.
        </h2>
        <p style="font-weight: normal; line-height: 41px;">
            돈이 많이 들지는 않을까 걱정 많으셨죠? <span style="font-weight: bold;">국민건강<br>
            보험공단에서 제공하는 노인장기요양보험제도</span>가<br>
            있어 요양보호사 이용비와 복지용구 구매 등의 노<br>
            인요양관련 비용을 국가로부터 <span style="font-weight: bold;">최대 85~100%까<br>
            지 지원받을 수 있어요</span>
        </p>
    </div>
</section>

<section style="padding-top: 127px; padding-bottom: 115px" class="head" *showItSizes="{min:900,max:1439}">
    <div class="container">
        <img src="../../assets/img/img-money.webp" style="width: 451px; height: 450px; left: 430px; top: 20px">
        <div style="position: relative; z-index: 1;">
            <h3 style="margin-bottom: 110px;">이렇게나 좋은 케어링,<br>
                <span style="background-color: #ffd07d;">나라 지원금</span>
                으로<br> 저렴하게 이용하세요.
            </h3>
            <p style="font-weight: normal; font-size: 18px">
                돈이 많이 들지는 않을까 걱정 많으셨죠? <span style="font-weight: bold;">국민건강<br>
                보험공단에서 제공하는 노인장기요양보험제도</span>가<br>
                있어 요양보호사 이용비와 복지용구 구매 등의 노<br>
                인요양관련 비용을 국가로부터 <span style="font-weight: bold;">최대 85~100%까<br>
                지 지원받을 수 있어요</span>
            </p>
        </div>
    </div>
</section>

<section style="padding-top: 70px; padding-bottom: 70px; text-align: left;" class="head"
         *showItSizes="{min:600,max:899}">
    <div class="container" style="width: 60%;padding: 0; margin-left: auto; margin-right: auto;">
        <img src="../../assets/img/img-money.webp" style="top: 20px; width: 250px; height: 250px; left: 60%;">
        <div style="position: relative; z-index: 1;">
            <h3 style="font-size: 26px; margin-bottom: 45px;">이렇게나 좋은 케어링,<br>
                <span style="background-color: #ffd07d;">나라 지원금</span>
                으로<br> 저렴하게 이용하세요.
            </h3>
            <p style="font-weight: normal; font-size: 14px;">
                돈이 많이 들지는 않을까 걱정 많으셨죠? <span style="font-weight: bold;">국민건강<br>
                보험공단에서 제공하는 노인장기요양보험제도</span>가<br>
                있어 요양보호사 이용비와 복지용구 구매 등의 노<br>
                인요양관련 비용을 국가로부터 <span style="font-weight: bold;">최대 85~100%까<br>
                지 지원받을 수 있어요</span>
            </p>
        </div>
    </div>
</section>

<section class="head text-center" style="padding: 110px 35px 40px 47px; text-align: left;"
         *showItSizes="{max:599}">
    <div class="container" style="width: 100%; padding: 0px;">
        <h3 style="font-size: 20px; font-weight: bold; margin-bottom: 17px; line-height: 31px;">이렇게나 좋은 케어링,<br>
            <span style="background-color: #ffd07d;">나라 지원금</span>
            으로<br> 저렴하게 이용하세요.
        </h3>
        <p style=" font-size: 14px; font-weight: normal; line-height: 24px;">
            돈이 많이 들지는 않을까 걱정 많으셨죠? 국민건강 보험공단에서 제공하는 노인장기요양보험제도가 있어 요양보호사 이용비와
            복지용구 구매 등의 노인요양관련 비용을 국가로부터 최대 85~100%까지 지원받을 수 있어요
        </p>
    </div>
</section>
