<section style="padding-top: 110px;padding-bottom: 142px" class="head" *showItSizes="{min:1440}">
    <div class="container">
        <img src="" style="top: -21px;left: 672px">
        <p style="margin-bottom: 40px">
            누구나 방문 요양서비스는 제공할 수 있습니다. 하<br>
            지만, 케어링처럼 체계적으로 운영할 수는 없습니<br>
            다. 최고의 전문 관리자, 엄선된 요양보호사, 체계적<br>
            관리시스템은 케어링만이 할 수 있습니다.
        </p>
        <p style="font-weight: 700;">케어링은 전국 모든 지역에서<br>
            이용이 가능합니다.
        </p>

    </div>
</section>

<section style="padding-top: 110px;padding-bottom: 142px" class="head" *showItSizes="{min:900,max:1439}">
    <div class="container">
        <img src="" style="top: -21px;left: 672px">
        <p style="font-size: 18px; line-height: 31px; margin-bottom: 40px">
            누구나 방문 요양서비스는 제공할 수 있습니다. 하<br>
            지만, 케어링처럼 체계적으로 운영할 수는 없습니<br>
            다. 최고의 전문 관리자, 엄선된 요양보호사, 체계적<br>
            관리시스템은 케어링만이 할 수 있습니다.
        </p>
        <p style="font-size: 18px; line-height: 31px; font-weight: 700;">케어링은 전국 모든 지역에서<br>
            이용이 가능합니다.
        </p>

    </div>
</section>

<section style="padding-top: 90px; padding-bottom: 122px;text-align: left;" class="head"
         *showItSizes="{min:600,max:899}">
         <div class="container">
            <img src="" style="top: -21px;left: 672px">
            <p style="font-size: 16px; line-height: 26px; margin-bottom: 40px">
                누구나 방문 요양서비스는 제공할 수 있습니다. 하<br>
                지만, 케어링처럼 체계적으로 운영할 수는 없습니<br>
                다. 최고의 전문 관리자, 엄선된 요양보호사, 체계적<br>
                관리시스템은 케어링만이 할 수 있습니다.
            </p>
            <p style="font-size: 16px; line-height: 26px; font-weight: 700;">케어링은 전국 모든 지역에서<br>
                이용이 가능합니다.
            </p>
        </div>
</section>

<section class="head text-center" style="padding-top: 70px; padding-bottom: 100px;text-align: left"
         *showItSizes="{max:599}">
         <div class="container">
            <img src="" style="top: -21px;left: 672px">
            <p style="font-size: 14px; line-height: 20px; margin-bottom: 40px">
                누구나 방문 요양서비스는 제공할 수 있습니다. 하<br>
                지만, 케어링처럼 체계적으로 운영할 수는 없습니<br>
                다. 최고의 전문 관리자, 엄선된 요양보호사, 체계적<br>
                관리시스템은 케어링만이 할 수 있습니다.
            </p>
            <p style="font-size: 14px; line-height: 20px; font-weight: 700;">케어링은 전국 모든 지역에서<br>
                이용이 가능합니다.
            </p>
        </div>
</section>