<cr-banner></cr-banner>
<cr-yt_headline></cr-yt_headline>
<cr-pay-calculation></cr-pay-calculation>
<cr-lcr></cr-lcr>
<cr-why_caring id="why"></cr-why_caring>
<cr-country_subsidy></cr-country_subsidy>
<cr-help-caring></cr-help-caring>
<cr-nursing-services id="service"></cr-nursing-services>
<cr-howto></cr-howto>
<cr-stories id="story"></cr-stories>
<cr-caring-news id="news"></cr-caring-news>
<!--<cr-help-request id="help"></cr-help-request>-->
<cr-map></cr-map>
<cr-footer></cr-footer>
<cr-call-footer></cr-call-footer>
<!--<div class="divider"></div>-->
