<section style="padding-top: 71px" *showItSizes="{min:1440}">
    <div class="container">
        <div class="container" style="width: 75%; height: 256px; margin-bottom: 134px; background-image: url(../../assets/img/shop-banner.png);
         cursor: pointer;" onclick="window.open('https://smartstore.naver.com/caringmart')">
        </div>

        <h2>케어링의 요양 시스템</h2>
        <p style="width: 568px;">풍부한 경험을 갖춘 요양 전문가가 체계적으로 맞춤 설계합니다. 각 단계를 클릭하여 더 자세히 알아보세요.</p>

        <div style="margin-top: 68px;">
            <div class="swiperindex" [class.active]="index === 0" (click)="index=0">1. 장기요양보험 신청</div>
            <div class="swiperindex" [class.active]="index === 1" (click)="index=1">2. 케어 컨설팅</div>
            <div class="swiperindex" [class.active]="index === 2" (click)="index=2">3. 요양보호사 매칭</div>
            <div class="swiperindex" [class.active]="index === 3" (click)="index=3">4. 케어링 서비스 시작</div>
        </div>
    </div>
    <!--    autoplay: {-->
    <!--    delay: 3000,-->
    <!--    disableOnInteraction: false-->
    <!--    }-->
    <div class="desc">
        <div class="container">
            <swiper [(index)]="index" [config]="swiperConfig">
                <div class="slide-desc" *ngFor="let slide of slides; let i = index">
                    <div style="margin-left: 27px; display: inline-block">
                        <h2 style="width: 380px; font-size: 38px" [innerHTML]="slide.title"></h2>
                        <p [innerHTML]="slide.body"></p>
                    </div>
                    <img [src]="slide.image" style="width: 450px; height: 480px">
                </div>
            </swiper>
        </div>
    </div>
</section>


<section style="padding-top: 86px" *showItSizes="{min:900,max:1439}">
    <div class="container">
        <div class="container" style="width: 98%; height: 200px; left:-72px; margin-bottom: 134px; background-image: url(../../assets/img/shop-banner.png); background-size: 100%;
            cursor: pointer;" onclick="window.open('https://smartstore.naver.com/caringmart')">
        </div>

        <h2>케어링의 요양 시스템</h2>
        <p style="width: 568px;">풍부한 경험을 갖춘 요양 전문가가 체계적으로 맞춤 설계합니다. 각 단계를 클릭하여 더 자세히 알아보세요.</p>
        <drag-scroll style="margin-top: 68px;" [scrollbar-hidden]="true">
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 0" (click)="index=0">1. 장기요양보험
                신청
            </div>
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 1" (click)="index=1">2. 케어
                컨설팅
            </div>
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 2" (click)="index=2">3. 요양보호사
                매칭
            </div>
            <div class="swiperindex" [class.active]="index === 3" (click)="index=3">4. 케어링 서비스 시작</div>
        </drag-scroll>
    </div>
    <div class="desc">
        <div class="container">
            <swiper [(index)]="index" [config]="swiperConfig">
                <div class="slide-desc" *ngFor="let slide of slides; let i = index">
                    <div style="margin-left: 27px;display: inline-block">
                        <h2 style="font-size: 38px" [innerHTML]="slide.title"></h2>
                        <p [innerHTML]="slide.body"></p>
                    </div>
                    <img [src]="slide.image" style="width: 350px;">
                </div>
            </swiper>
            <div class="buttons" style="left: 100px">
                <button class="nav" *ngIf="index !== 0" (click)="index= index-1"><img
                        src="./../../assets/img/before.svg">
                    이전
                </button>
                <button class="nav next" *ngIf="index !== 3" (click)="index= index+1">다음 <img
                        src="./../../assets/img/next.svg">
                </button>
            </div>
        </div>
    </div>
</section>

<section style="padding-top: 66px" *showItSizes="{min:600,max:899}">
    <div class="container" style="width: 85%;">
        <img src="../../assets/img/shop-banner.png" style="width: 100%; height: auto; margin-left: auto; margin-right: auto; margin-bottom: 134px;
        cursor: pointer;" onclick="window.open('https://smartstore.naver.com/caringmart')">

        <drag-scroll style="margin-top: 68px;" [scrollbar-hidden]="true">
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 0" (click)="index=0">1. 장기요양보험
                신청
            </div>
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 1" (click)="index=1">2. 케어
                컨설팅
            </div>
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 2" (click)="index=2">3. 요양보호사
                매칭
            </div>
            <div class="swiperindex" [class.active]="index === 3" (click)="index=3">4. 케어링 서비스 시작</div>
        </drag-scroll>
    </div>
    <!--    autoplay: {-->
    <!--    delay: 3000,-->
    <!--    disableOnInteraction: false-->
    <!--    }-->
    <div class="desc">
        <div class="container">
            <swiper [(index)]="index" [config]="swiperConfig">
                <div class="slide-desc" *ngFor="let slide of slides; let i = index">
                    <div style="margin-left: 27px;display: inline-block">
                        <h2 style="font-size: 38px;" [innerHTML]="slide.title"></h2>
                        <p [innerHTML]="slide.body"></p>
                    </div>
                    <img [src]="slide.image" style="width: 250px">
                </div>
            </swiper>
            <div class="buttons" style="left: 100px">
                <button class="nav" *ngIf="index !== 0" (click)="index= index-1"><img
                        src="./../../assets/img/before.svg">
                    이전
                </button>
                <button class="nav next" *ngIf="index !== 3" (click)="index= index+1">다음 <img
                        src="./../../assets/img/next.svg">
                </button>
            </div>
        </div>
    </div>
</section>

<section style="background-color: #ffffff;" *showItSizes="{max:599}">
    <div class="container" >
        <img src="../../assets/img/shop-banner-02.png" style="width: 100%; height: auto; margin-left: auto; margin-right: auto; margin-bottom: 17px;
        cursor: pointer;" onclick="window.open('https://smartstore.naver.com/caringmart')">
        <!--<h2 style="margin-left: 36px; font-size: 20px;">케어링의 요양 서비스</h2>
        <p style="margin: 26px 36px;">풍부한 경험을 갖춘 요양 전문가가 체계적으<br>로 맞춤 설계합니다. 각 단계를 클릭하여 더<br> 자세히 알아보세요.</p>

        <drag-scroll style="margin-top: 30px;" [scrollbar-hidden]="true">
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 0" (click)="index=0">1. 장기요양보험
                신청
            </div>
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 1" (click)="index=1">2. 케어
                컨설팅
            </div>
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 2" (click)="index=2">3. 요양보호사
                매칭
            </div>
            <div class="swiperindex" [class.active]="index === 3" (click)="index=3">4. 케어링 서비스 시작</div>
        </drag-scroll>-->
    </div>
    <!--    autoplay: {-->
    <!--    delay: 3000,-->
    <!--    disableOnInteraction: false-->
    <!--    }-->
    <!--<div class="desc">
        <div class="container">
            <swiper [(index)]="index" [config]="swiperConfig">
                <div class="slide-desc" *ngFor="let slide of slides; let i = index">
                    <div style="margin-left: 18px;
    display: inline-block;
    width: calc(100% - 51px);">
                        <h2 style="font-size: 22px" [innerHTML]="slide.title"></h2>
                        <p [innerHTML]="slide.body"></p>
                    </div>
                    <img [src]="slide.image" style="width: 80%;left:0;max-height: 250px;object-fit: contain;
    bottom: 0;
    margin: auto;">
                </div>
            </swiper>
            <div class="buttons" style="left: 15px;
    right: 0;
    bottom: 20px;
    display: block;">
                <button class="nav" *ngIf="index !== 0" (click)="index= index-1"
                        style="cursor: pointer;
    font-size: 18px;
    padding: 18px 20px;
    position: absolute;
    left: 0;
    bottom: 0;"
                ><img
                        src="./../../assets/img/before.svg">
                    이전
                </button>
                <button
                        style="cursor: pointer;
    font-size: 18px;
    padding: 18px 20px;
    position: absolute;
    right: 0;
    bottom: 0;"
                        class="nav next" *ngIf="index !== 3" (click)="index= index+1">다음 <img
                        src="./../../assets/img/next.svg">
                </button>
            </div>
        </div>
    </div>-->
</section>
