<section style="padding-top: 109px" *showItSizes="{min:1440}">
    <div class="container">
        <h3>케어링<br>
            이렇게 시작하세요.
        </h3>

        <div style="margin-top: 68px;">
            <div class="swiperindex" [class.active]="index === 0" (click)="index=0">1. 장기요양보험 신청</div>
            <div class="swiperindex" [class.active]="index === 1" (click)="index=1">2. 케어 컨설팅</div>
            <div class="swiperindex" [class.active]="index === 2" (click)="index=2">3. 요양보호사 매칭</div>
            <div class="swiperindex" [class.active]="index === 3" (click)="index=3">4. 케어링 서비스 시작</div>
        </div>
    </div>
    <!--    autoplay: {-->
    <!--    delay: 3000,-->
    <!--    disableOnInteraction: false-->
    <!--    }-->
    <div class="desc">
        <div class="container">
            <swiper [(index)]="index" [config]="{
            height:535
            }">
                <div class="slide-desc" *ngFor="let slide of slides; let i = index">
                    <span class="number">{{i + 1}}</span>
                    <div style="margin-left: 27px;display: inline-block">
                        <h2 style="font-size: 38px">{{slide.title}}</h2>
                        <p [innerHTML]="slide.body"></p>
                    </div>
                    <img [src]="slide.image">
                </div>
            </swiper>
            <div class="buttons">
                <button class="nav" *ngIf="index !== 0" (click)="index= index-1"><img
                        src="./../../assets/img/before.svg">
                    이전
                </button>
                <button class="nav next" *ngIf="index !== 3" (click)="index= index+1">다음 <img
                        src="./../../assets/img/next.svg">
                </button>
            </div>
        </div>
    </div>
</section>


<section style="padding-top: 86px" *showItSizes="{min:900,max:1439}">
    <div class="container">
        <h3>케어링<br>
            이렇게 시작하세요.
        </h3>

        <drag-scroll style="margin-top: 68px;" [scrollbar-hidden]="true">
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 0" (click)="index=0">1. 장기요양보험
                신청
            </div>
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 1" (click)="index=1">2. 케어
                컨설팅
            </div>
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 2" (click)="index=2">3. 요양보호사
                매칭
            </div>
            <div class="swiperindex" [class.active]="index === 3" (click)="index=3">4. 케어링 서비스 시작</div>
        </drag-scroll>
    </div>
    <!--    autoplay: {-->
    <!--    delay: 3000,-->
    <!--    disableOnInteraction: false-->
    <!--    }-->
    <div class="desc">
        <div class="container">
            <swiper [(index)]="index" [config]="{
            height:535
            }">
                <div class="slide-desc" *ngFor="let slide of slides; let i = index">
                    <span class="number">{{i + 1}}</span>
                    <div style="margin-left: 27px;display: inline-block">
                        <h2 style="font-size: 38px">{{slide.title}}</h2>
                        <p [innerHTML]="slide.body"></p>
                    </div>
                    <img [src]="slide.image">
                </div>
            </swiper>
            <div class="buttons" style="left: 100px">
                <button class="nav" *ngIf="index !== 0" (click)="index= index-1"><img
                        src="./../../assets/img/before.svg">
                    이전
                </button>
                <button class="nav next" *ngIf="index !== 3" (click)="index= index+1">다음 <img
                        src="./../../assets/img/next.svg">
                </button>
            </div>
        </div>
    </div>
</section>

<section style="padding-top: 66px" *showItSizes="{min:600,max:899}">
    <div class="container">
        <h3>케어링<br>
            이렇게 시작하세요.
        </h3>

        <drag-scroll style="margin-top: 68px;" [scrollbar-hidden]="true">
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 0" (click)="index=0">1. 장기요양보험
                신청
            </div>
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 1" (click)="index=1">2. 케어
                컨설팅
            </div>
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 2" (click)="index=2">3. 요양보호사
                매칭
            </div>
            <div class="swiperindex" [class.active]="index === 3" (click)="index=3">4. 케어링 서비스 시작</div>
        </drag-scroll>
    </div>
    <!--    autoplay: {-->
    <!--    delay: 3000,-->
    <!--    disableOnInteraction: false-->
    <!--    }-->
    <div class="desc">
        <div class="container">
            <swiper [(index)]="index" [config]="{
            height:535
            }">
                <div class="slide-desc" *ngFor="let slide of slides; let i = index">
                    <span class="number">{{i + 1}}</span>
                    <div style="margin-left: 27px;display: inline-block">
                        <h2 style="font-size: 38px">{{slide.title}}</h2>
                        <p [innerHTML]="slide.body"></p>
                    </div>
                    <img [src]="slide.image" style="width: 250px">
                </div>
            </swiper>
            <div class="buttons" style="left: 100px">
                <button class="nav" *ngIf="index !== 0" (click)="index= index-1"><img
                        src="./../../assets/img/before.svg">
                    이전
                </button>
                <button class="nav next" *ngIf="index !== 3" (click)="index= index+1">다음 <img
                        src="./../../assets/img/next.svg">
                </button>
            </div>
        </div>
    </div>
</section>

<section style="padding-top: 38px" *showItSizes="{max:599}">
    <div class="container">
        <h3>케어링<br>
            이렇게 시작하세요.
        </h3>

        <drag-scroll style="margin-top: 30px;" [scrollbar-hidden]="true">
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 0" (click)="index=0">1. 장기요양보험
                신청
            </div>
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 1" (click)="index=1">2. 케어
                컨설팅
            </div>
            <div class="swiperindex" style="margin-right: 70px" [class.active]="index === 2" (click)="index=2">3. 요양보호사
                매칭
            </div>
            <div class="swiperindex" [class.active]="index === 3" (click)="index=3">4. 케어링 서비스 시작</div>
        </drag-scroll>
    </div>
    <!--    autoplay: {-->
    <!--    delay: 3000,-->
    <!--    disableOnInteraction: false-->
    <!--    }-->
    <div class="desc">
        <div class="container">
            <swiper [(index)]="index" [config]="{
            height:535
            }">
                <div class="slide-desc" *ngFor="let slide of slides; let i = index">
                    <span class="number">{{i + 1}}</span>
                    <div style="margin-left: 18px;
    display: inline-block;
    width: calc(100% - 51px);">
                        <h2 style="font-size: 22px">{{slide.title}}</h2>
                        <p [innerHTML]="slide.body"></p>
                    </div>
                    <img [src]="slide.image" style="width: 80%;left:0;max-height: 250px;object-fit: contain;
    bottom: 0;
    margin: auto;">
                </div>
            </swiper>
            <div class="buttons" style="left: 15px;
    right: 0;
    bottom: 20px;
    display: block;">
                <button class="nav" *ngIf="index !== 0" (click)="index= index-1"
                 style="cursor: pointer;
    font-size: 18px;
    padding: 18px 20px;
    position: absolute;
    left: 0;
    bottom: 0;"
                ><img
                        src="./../../assets/img/before.svg">
                    이전
                </button>
                <button
                        style="cursor: pointer;
    font-size: 18px;
    padding: 18px 20px;
    position: absolute;
    right: 0;
    bottom: 0;"
                        class="nav next" *ngIf="index !== 3" (click)="index= index+1">다음 <img
                        src="./../../assets/img/next.svg">
                </button>
            </div>
        </div>
    </div>
</section>
