<div class="container" style="text-align: center; vertical-align: center">
    <div style="margin-bottom: 50px"></div>
    <h1 style="font-size: 30px">케어링 관리자 모드</h1>
    <div>
        <button [(ngModel)]="client" (click)="worker=true" *ngIf="worker == false">요양 보호사 근로 계약서</button>
        <button [(ngModel)]="client" (click)="client=true" *ngIf="client == false">수급자 계약서</button>
        <button [(ngModel)]="client" (click)="record=true" *ngIf="record == false">기록지</button>
    </div>
    <div class="inputs" style="border: 1px solid black;" *ngIf="worker == true">
        <h3>요양 보호사 근로 계약서</h3>
        <label>성명 :
            <input type="text" size="40" [(ngModel)]="name">
        </label>
        <br>
        <label>주소 :
            <input type="text" size="40" [(ngModel)]="address">
        </label>
        <br>
        <label>근무장소 :
            <input type="text" size="40" style="width: 60%;" [(ngModel)]="place">
        </label>
        <br>
        <label>센터 :
            <select [(ngModel)]="center">
                <option value="센터선택">센터선택</option>
                <option value="논현">논현</option>
                <option value="강남">강남</option>
                <option value="서초방문요양">서초방문요양</option>
            </select>
        </label>
        <br>
        <label>시간 :
            <select [(ngModel)]="time">
                <option value="시간선택">시간선택</option>
                <option value="60">60분</option>
                <option value="90">90분</option>
                <option value="180">180분</option>
                <option value="240">240분</option>
            </select>
        </label>
        <br>
        <label>핸드폰 번호 :
            <input type="text" size="40" style="width: 50%;" class="phone" maxlength="13" placeholder="ex)010-0000-0000" [(ngModel)]="phone">
        </label>
        <br>
        <label>근로 시작일 :
            <input type="date" style="width: 50%;" [(ngModel)]="start" min="2015-01-01" max="2050-12-31">
        </label>
        <br>
        <label>근로 종료일 :
            <input type="date" style="width: 50%;" [(ngModel)]="end" min="2015-01-01" max="2050-12-31">
        </label>
        <br>
        <label>근로 계약일 :
            <input type="date" style="width: 50%;" [(ngModel)]="contract" min="2015-01-01" max="2050-12-31">
        </label>
        <br>
        <button (click)="downloadCaregiver(name, center, time, address, place, phone, start, end, contract)">요보사 계약서</button>
    </div>

    <div class="inputs" style="border: 1px solid black;" *ngIf="client == true">
        <h3>수급자 계약서</h3>
        <label>성명 :
            <input type="text" size="40" [(ngModel)]="recname"><br>
        </label>
        <label>장기요양등급 :
            <select style="width: 51%;" [(ngModel)]="reclevel">
                <option value="등급선택">등급선택</option>
                <option value="1등급">1등급</option>
                <option value="2등급">2등급</option>
                <option value="3등급">3등급</option>
                <option value="4등급">4등급</option>
                <option value="5등급">5등급</option>
            </select><br>
        </label>
        <label>생년월일 :
            <input type="date" min="1910-01-01" max="2005-01-01" style="width: 63%" [(ngModel)]="recbirth"><br>
        </label>
        <label>주소 :
            <input type="text" size="40" [(ngModel)]="recaddress"><br>
        </label>
        <label>핸드폰 번호 :
            <input type="text" size="40" style="width: 55%;" class="phone" maxlength="13" placeholder="ex)010-0000-0000" [(ngModel)]="recphone"><br>
        </label>
        <label>수급구분 :
            <select style="width: 63%;" [(ngModel)]="etc">
                <option value="일반">일반대상</option>
                <option value="40%">감경 40%</option>
                <option value="50%">감경 50%</option>
                <option value="60%">감경 60%</option>
                <option value="국민">국민기초생활</option>
                <option value="의료">의료급여</option>
            </select><br>
        </label>
        <label>센터 :
            <select [(ngModel)]="reccenter">
                <option value="센터선택">센터선택</option>
                <option value="논현">논현</option>
                <option value="강남">강남</option>
                <option value="서초방문요양">서초방문요양</option>
            </select><br>
        </label>
        <label>보호자</label><br>
        <label>성명 :
            <input type="text" size="40" style="width: 73%;" [(ngModel)]="pname"><br>
        </label>
        <label>이용자와의 관계 :
            <select style="width: 43%;" [(ngModel)]="relation">
                <option value="">관계선택</option>
                <option value="배우자">배우자</option>
                <option value="자녀">자녀</option>
                <option value="부모">부모</option>
                <option value="형제">형제</option>
                <option value="자손">자손</option>
                <option value="자부">자부</option>
                <option value="친척">친척</option>
                <option value="사회복지공무원">사회복지공무원</option>
                <option value="시군구청장이 지정한자">시군구청장이 지정한자</option>
            </select><br>
        </label>
        <label>생년월일 :
            <input type="date" size="40" style="width: 61%;" [(ngModel)]="pbirth" min="1910-01-01" max="2020-01-01"><br>
        </label>
        <label>연락처 :
            <input type="text" size="40" style="width: 67%;" placeholder="ex)010-0000-0000" [(ngModel)]="pphone"><br>
        </label>
        <label>주소 :
            <input type="text" size="40" style="width: 73%;" [(ngModel)]="paddress"><br>
        </label><br>
        <label>계약 시작일 :
            <input type="date" style="width: 55%;" [(ngModel)]="contract_start" min="2015-01-01" max="2100-01-01"><br>
        </label>
        <label>계약 종료일 :
            <input type="date" style="width: 55%;" [(ngModel)]="contract_end" min="2015-01-01" max="2100-01-01"><br>
        </label>
        <label>이용일 :
            <input type="text" style="width: 69%;" [(ngModel)]="useday" placeholder = "ex)월화수"><br>
        </label>
        <label>시작시간 :
            <input type="time" style="width: 63%" [(ngModel)]="usestime"><br>
        </label>
        <label>종료시간 :
            <input type="time" style="width: 63%" [(ngModel)]="useetime"><br>
        </label>
        <label>계약일 :
            <input type="date" style="width: 69%;" [(ngModel)]="contract_date" min="2015-01-01" max="2100-01-01"><br>
        </label>

        <button (click)="downloadRecipient(recname, reclevel, recbirth, recaddress, recphone, etc, reccenter, pname, relation, pbirth, pphone, paddress, contract_start, contract_end, useday, usestime, useetime, contract_date)">수급자 계약서</button>
    </div>

    <div class="inputs" style="border: 1px solid black;" *ngIf="record == true">
        <h3>기록지</h3>
        <label>성명 :
            <input type="text" size="40" style="width: 76%" [(ngModel)]="rname"><br>
        </label>
        <label>생년월일 :
            <input type="date" min="1910-01-01" max="2005-01-01" style="width: 64%" [(ngModel)]="rbirth"><br>
        </label>
        <label>장기요양등급 :
            <select style="width: 52%;" [(ngModel)]="rlevel">
                <option value="등급선택">등급선택</option>
                <option value="1등급">1등급</option>
                <option value="2등급">2등급</option>
                <option value="3등급">3등급</option>
                <option value="4등급">4등급</option>
                <option value="5등급">5등급</option>
            </select><br>
        </label>
        <label>장기요양인정번호 :
            <input type="text" size="40" style="width: 40%;" [(ngModel)]="rnumber"><br>
        </label>
        <label>장기요양기관명 :
            <select style="width: 47%;" [(ngModel)]="rcenter">
                <option value="센터선택">센터선택</option>
                <option value="논현">논현</option>
                <option value="강남">강남</option>
                <option value="서초방문요양">서초방문요양</option>
            </select><br>
        </label>
        <label>총제공일 :
            <select style="width: 65%;" [(ngModel)]="day">
                <option value=0>제공일 선택</option>
                <option value=1>1일</option>
                <option value=2>2일</option>
                <option value=3>3일</option>
                <option value=4>4일</option>
                <option value=5>5일</option>
                <option value=6>6일</option>
                <option value=7>7일</option>
            </select><br>
        </label>
        <p *ngIf="day > 0">
            <label>제공일 :
                <input type="date" min="2020-01-01" max="2022-12-31" style="width: 71%" [(ngModel)]="firstday"><br>
            </label>
            <label>총시간 :
                <select style="width: 71%;" [(ngModel)]="firsttime">
                    <option value="">시간선택</option>
                    <option value="30">30분</option>
                    <option value="60">60분</option>
                    <option value="90">90분</option>
                    <option value="120">120분</option>
                    <option value="150">150분</option>
                    <option value="180">180분</option>
                    <option value="210">210분</option>
                    <option value="240">240분</option>
                    <option value="270">270분</option>
                    <option value="300">300분</option>
                    <option value="330">330분</option>
                    <option value="360">360분</option>
                    <option value="390">390분</option>
                    <option value="420">420분</option>
                    <option value="450">450분</option>
                    <option value="480">480분</option>
                </select><br>
            </label>
            <label>시작시간 :
                <input type="time" style="width: 65%" [(ngModel)]="firststime">
            </label>
        </p>
        <p *ngIf="day > 1">
            <label>제공일 :
                <input type="date" min="2020-01-01" max="2022-12-31" style="width: 71%" [(ngModel)]="secondday"><br>
            </label>
            <label>총시간 :
                <select style="width: 71%;" [(ngModel)]="secondtime">
                    <option value="">시간선택</option>
                    <option value="30">30분</option>
                    <option value="60">60분</option>
                    <option value="90">90분</option>
                    <option value="120">120분</option>
                    <option value="150">150분</option>
                    <option value="180">180분</option>
                    <option value="210">210분</option>
                    <option value="240">240분</option>
                    <option value="270">270분</option>
                    <option value="300">300분</option>
                    <option value="330">330분</option>
                    <option value="360">360분</option>
                    <option value="390">390분</option>
                    <option value="420">420분</option>
                    <option value="450">450분</option>
                    <option value="480">480분</option>
                </select><br>
            </label>
            <label>시작시간 :
                <input type="time" style="width: 65%" [(ngModel)]="secondstime"><br>
            </label>
        </p>
        <p *ngIf="day > 2">
            <label>제공일 :
                <input type="date" min="2020-01-01" max="2022-12-31" style="width: 71%" [(ngModel)]="thirdday" ><br>
            </label>
            <label>총시간 :
                <select style="width: 71%;" [(ngModel)]="thirdtime">
                    <option value="">시간선택</option>
                    <option value="30">30분</option>
                    <option value="60">60분</option>
                    <option value="90">90분</option>
                    <option value="120">120분</option>
                    <option value="150">150분</option>
                    <option value="180">180분</option>
                    <option value="210">210분</option>
                    <option value="240">240분</option>
                    <option value="270">270분</option>
                    <option value="300">300분</option>
                    <option value="330">330분</option>
                    <option value="360">360분</option>
                    <option value="390">390분</option>
                    <option value="420">420분</option>
                    <option value="450">450분</option>
                    <option value="480">480분</option>
                </select><br>
            </label>
            <label>시작시간 :
                <input type="time" style="width: 65%" [(ngModel)]="thirdstime"><br>
            </label>
        </p>
        <p *ngIf="day > 3">
            <label>제공일 :
                <input type="date" min="2020-01-01" max="2022-12-31" style="width: 71%" [(ngModel)]="fourthday"><br>
            </label>
            <label>총시간 :
                <select style="width: 71%;" [(ngModel)]="fourthtime">
                    <option value="">시간선택</option>
                    <option value="30">30분</option>
                    <option value="60">60분</option>
                    <option value="90">90분</option>
                    <option value="120">120분</option>
                    <option value="150">150분</option>
                    <option value="180">180분</option>
                    <option value="210">210분</option>
                    <option value="240">240분</option>
                    <option value="270">270분</option>
                    <option value="300">300분</option>
                    <option value="330">330분</option>
                    <option value="360">360분</option>
                    <option value="390">390분</option>
                    <option value="420">420분</option>
                    <option value="450">450분</option>
                    <option value="480">480분</option>
                </select><br>
            </label>
            <label>시작시간 :
                <input type="time" style="width: 65%" [(ngModel)]="fourthstime"><br>
            </label>
        </p>
        <p *ngIf="day > 4">
            <label>제공일 :
                <input type="date" min="2020-01-01" max="2022-12-31" style="width: 71%" [(ngModel)]="fifthday"><br>
            </label>
            <label>총시간 :
                <select style="width: 71%;" [(ngModel)]="fifthtime">
                    <option value="">시간선택</option>
                    <option value="30">30분</option>
                    <option value="60">60분</option>
                    <option value="90">90분</option>
                    <option value="120">120분</option>
                    <option value="150">150분</option>
                    <option value="180">180분</option>
                    <option value="210">210분</option>
                    <option value="240">240분</option>
                    <option value="270">270분</option>
                    <option value="300">300분</option>
                    <option value="330">330분</option>
                    <option value="360">360분</option>
                    <option value="390">390분</option>
                    <option value="420">420분</option>
                    <option value="450">450분</option>
                    <option value="480">480분</option>
                </select><br>
            </label>
            <label>시작시간 :
                <input type="time" style="width: 65%" [(ngModel)]="fifthstime"><br>
            </label>
        </p>
        <p *ngIf="day > 5">
            <label>제공일 :
                <input type="date" min="2020-01-01" max="2022-12-31" style="width: 71%" [(ngModel)]="sixthday"><br>
            </label>
            <label>총시간 :
                <select style="width: 71%;" [(ngModel)]="sixthtime">
                    <option value="">시간선택</option>
                    <option value="30">30분</option>
                    <option value="60">60분</option>
                    <option value="90">90분</option>
                    <option value="120">120분</option>
                    <option value="150">150분</option>
                    <option value="180">180분</option>
                    <option value="210">210분</option>
                    <option value="240">240분</option>
                    <option value="270">270분</option>
                    <option value="300">300분</option>
                    <option value="330">330분</option>
                    <option value="360">360분</option>
                    <option value="390">390분</option>
                    <option value="420">420분</option>
                    <option value="450">450분</option>
                    <option value="480">480분</option>
                </select><br>
            </label>
            <label>시작시간 :
                <input type="time" style="width: 65%" [(ngModel)]="sixthstime"><br>
            </label>
        </p>
        <p *ngIf="day > 6">
            <label>제공일 :
                <input type="date" min="2020-01-01" max="2022-12-31" style="width: 71%" [(ngModel)]="seventhday"><br>
            </label>
            <label>총시간 :
                <select style="width: 71%;" [(ngModel)]="seventhtime">
                    <option value="">시간선택</option>
                    <option value="30">30분</option>
                    <option value="60">60분</option>
                    <option value="90">90분</option>
                    <option value="120">120분</option>
                    <option value="150">150분</option>
                    <option value="180">180분</option>
                    <option value="210">210분</option>
                    <option value="240">240분</option>
                    <option value="270">270분</option>
                    <option value="300">300분</option>
                    <option value="330">330분</option>
                    <option value="360">360분</option>
                    <option value="390">390분</option>
                    <option value="420">420분</option>
                    <option value="450">450분</option>
                    <option value="480">480분</option>
                </select><br>
            </label>
            <label>시작시간 :
                <input type="time" style="width: 65%" [(ngModel)]="seventhstime"><br>
            </label>
        </p>
        <button style="float: right" (click)="downloadRecordpaper(rname, rbirth, rlevel, rnumber, rcenter, firstday, firststime, firsttime, secondday, secondstime, secondtime, thirdday, thirdstime, thirdtime, fourthday, fourthstime, fourthtime, fifthday, fifthstime, fifthtime, sixthday, sixthstime, sixthtime, seventhday, seventhstime, seventhtime)">기록지 다운로드</button>
    </div>
</div>

