.inputs{
    display: inline-block;
    width: 350px;
    padding-top: 37px;
    padding-bottom: 37px;
    margin-right: 30px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
}

p{
    margin: 0;
}

select{
    width: 75%;
    height: 30px;
    font-size: 20px
}

input{
    width: 75%;
    height: 30px;
    font-size: 20px
}

button{
    position: relative;
    margin-top: 15px;
    font-size: 20px;
}
