<div class="chatBot" *showItSizes="{min: 600}">
    <img *ngIf="click===false" id="chatImg" src="../assets/img/Q&A.png" alt="챗봇 이미지" (click)="click=true;">
    <div *ngIf="click===true" class="animate__fadeInUp" style="box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.16); border-radius: 23px">
        <div>
            <img src="../assets/img/Q&A_black.png" alt="Q&A 블랙이미지">
            <img src="../assets/img/close_img.svg" style="float: right" (click)="click=false; type='자주 묻는 질문'" alt="닫기 이미지"><br>
            <h4 style="margin-bottom: 23px">자주 묻는 질문</h4>
            <div class="main" *ngIf="type==='자주 묻는 질문'">
                <button class="bot" id="Q1" (click)="type='가족요양 제도란?'">
                    가족요양 제도란?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
                <button class="bot" id="Q2" (click)="type='케어링 가족요양 급여는?'">
                    케어링 가족요양 급여는?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
                <button class="bot" id="Q3" (click)="type='센터마다 급여가 다른 이유?'">
                    센터마다 급여가 다른 이유?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
                <button class="bot" id="Q4" (click)="type='본인부담금이란?'">
                    본인부담금이란?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
                <button class="bot" id="Q5" (click)="type='지방인데 이용 가능한가요?'">
                    지방인데 이용 가능한가요?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
            </div>
            <div class="chatroom" *ngIf="type!=='자주 묻는 질문'">
                <div *ngIf="type==='가족요양 제도란?'" class="first">
                    <p>
                        <span>가족요양 제도란?<br><br></span>
                        가족요양이란 어르신이 노인장기요양보험등급을 받으시고,
                        월 160시간 미만의 근로를 하시는 가족분이 요양보호사 자격증을 취득하신 후,
                        어르신을 가족이 직접 케어하고 급여를 받으실 수 있는 제도입니다.
                    </p>
                    <a href="https://m.blog.naver.com/caring_official/222093026832" target="_blank" ><button>자세히 알아보기</button></a>
                </div>
                <div *ngIf="type==='케어링 가족요양 급여는?'" class="first">
                    <p>
                        <span>케어링 가족요양 급여는?<br><br></span>
                        2021년 케어링 가족요양 60분은 21,200원 / 90분은 28,400원으로 책정되어 있습니다.
                        90분으로 31일 근무할 시, 월 88만원 정도의 금액이 총급여가 됩니다.
                        케어링은 전국 최고 수준의 급여로 요양보호사분들을 맞이하고 있습니다.
                    </p>
                    <a href="https://blog.naver.com/caring_official/222141574989" target="_blank" ><button>자세히 알아보기</button></a>
                </div>
                <div *ngIf="type==='센터마다 급여가 다른 이유?'" class="first">
                    <p>
                        <span>센터마다 급여가 다른 이유?<br><br></span>
                        건강보험공단에서 각 센터에 주는 수가는 동일하지만,
                        각 센터의 운영 방식에 따라  운영비, 시설비, 수익 등을 공제하고 나머지 금액을 가족요양보호사분들께 드립니다.<br><br>
                        때문에 센터마다 요양보호사님께 드리는 금액은 상이합니다.
                        케어링은 최소한의 운영비만을 제외하고 모든 금액을 요양보호사분들께 돌려드리려고 하고 있습니다.
                    </p>
                    <a href="https://blog.naver.com/caring_official/222116413246" target="_blank" ><button>자세히 알아보기</button></a>
                </div>
                <div *ngIf="type==='본인부담금이란?'" class="first">
                    <p>
                        <span>본인부담금이란?<br><br></span>
                        노인장기요양보험제도로 국가에서 지원을 받는 금액은 총비용의 85% 정도입니다.
                        나머지 15%에 대해서는 고객분들이 부담하셔야 합니다. 이를 본인부담금이라고 부릅니다.<br><br>
                        총 급여 중에 15%의 본인부담금을 공제해서 급여를 받으시거나, 전체 급여를 받으신 후에 따로 본인부담금을 납부하실 수도 있습니다.
                    </p>
                    <a href="https://blog.naver.com/caring_official/222062785398" target="_blank" ><button>자세히 알아보기</button></a>
                </div>
                <div *ngIf="type==='지방인데 이용 가능한가요?'" class="first">
                    <p>
                        <span>지방인데 이용 가능한가요?<br><br></span>
                        <span style="text-decoration: underline">전국 어디서나 케어링 가족요양을 할 수 있습니다.</span>
                        케어링은 현재 서울에 본사를 두고 있지만, 계약부터 서비스 이용까지 전체 과정을
                        대면이나 우편없이 휴대폰 하나로 처리할 수 있는 시스템을 구축했습니다.<br><br>
                        모든 과정을 비대면으로 가능하게끔 운영하여 이미 전국 많은 지역에서 케어링을 이용하고 계십니다.
                    </p>
                </div>
            </div>
            <div class="double">
                <button (click)="choice()">이전으로</button>
                <button style="margin-left: 10px" (click)="type='자주 묻는 질문'">처음으로</button>
            </div>
        </div>
        <!--<div *ngIf="type==='main'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                안녕하세요 고객님,<br>
                케어링입니다.<br><br>
                실시간 상담 가능 시간을 안내 드립니다.<br>
                평일 : 09:00 ~ 18:00<br>
                휴무 : 토,일,공휴일<br><br>
                점심시간이나 상담시간 외에는<br>
                실시간 상담이 어려운 점 양해 부탁드립니다.<br>
                상담 시간 내 상담원이 확인하여<br>
                최대한 빠른 안내 도와드리도록 하겠습니다.<br><br>
                감사합니다!<br><br>
                문의 유형을 선택해주세요!
            </p>
            <button class="bot" (click)="type='가족요양, 일반요양 문의'">가족요양, 일반요양 문의</button>
            <button class="bot" (click)="type='요양보호사 구직문의'">요양보호사 구직문의</button>
            <button class="bot" (click)="type='요양보호사 자격증 문의'">요양보호사 자격증 문의</button>
            <button class="bot" (click)="type='복지용구 문의'">복지용구 문의</button>
            <button class="bot" (click)="type='기타 문의'">기타 문의</button>
            <button class="bot" (click)="type='자주 묻는 질문'">자주 묻는 질문</button>
        </div>
        <div *ngIf="type==='가족요양, 일반요양 문의'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                문의하고 싶은 요양의 종류를 선택해주세요
            </p>
            <button class="bot" (click)="type='가족요양'">가족요양</button>
            <button class="bot" (click)="type='일반요양'">일반요양</button>
        </div>
        <div *ngIf="type==='가족요양'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                가족요양 제도를 이용하기 위해서는 요양보호사 자격증이 필요합니다.<br><br>
                요양보호사 자격증이 있으신가요?
            </p>
            <button class="bot" (click)="type='가족 자격증있다.'">있다.</button>
            <button class="bot" (click)="type='요양보호사 자격증 문의'">없다.</button>
        </div>
        <div *ngIf="type==='가족 자격증있다.'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                가족요양 제도를 이용하기 위해서는 어르신께서 노인장기요양보험 등급이 있어야합니다.<br><br>
                어르신께서 노인장기요양등급이 있으신가요?(장애인등급과 다름)
            </p>
            <button class="bot" (click)="type='가족 등급있다.'">있다.</button>
            <button class="bot" (click)="type='가족 등급없다.'">없다.</button>
        </div>
        <div *ngIf="type==='가족 등급있다.'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                어르신 노인장기요양등급
            </p>
            <button class="bot" (click)="type='가족 1~4등급'">1~4등급</button>
            <button class="bot" (click)="type='가족 5등급'">5등급</button>
        </div>
        <div *ngIf="type==='가족 등급없다.'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                가족, 일반요양 제도를 이용하기 위해서는 어르신께서 노인장기요양보험 등급이 있어야합니다.<br><br>
            </p>
            <a href="https://blog.naver.com/caring_official/221920469951" target="_blank" ><button class="bot" style="cursor: pointer">장기요양등급 발급절차 확인하기</button></a>
        </div>
        <div *ngIf="type==='일반 등급없다.'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                가족, 일반요양 제도를 이용하기 위해서는 어르신께서 노인장기요양보험 등급이 있어야합니다.<br><br>
            </p>
            <a href="https://blog.naver.com/caring_official/221920469951" target="_blank" ><button class="bot" style="cursor: pointer">장기요양등급 발급절차 확인하기</button></a>
        </div>
        <div *ngIf="type==='가족 1~4등급'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                고객님께서는 케어링에서 가족요양을<br> 진행하실 수 있습니다.<br><br>
                1522-6585로 전화주시면<br> 바로 진행도와드리겠습니다.<br>
                상담 예약도 가능합니다.<br>
                아래 번호를 입력해주시면 입력해주시면 24시간이내 연락드리도록 예약할 수 있습니다.<br>
            </p>
            <label>
                <input type="text" style="font-size: 18px; width: 80%" placeholder="휴대폰 번호를 입력해주세요."  [(ngModel)]="phone">
            </label>
            <button style="font-size: 18px; padding: 5px 5px 5px 5px;" (click)="reserve()">예약</button>
            <a href="http://pf.kakao.com/_twEmK/chat" target="_blank"><img src="../assets/img/web_button_kakao.svg" style=" height: 45px"  alt="카카오톡 이미지"></a>
        </div>
        <div *ngIf="type==='가족 5등급'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                노인장기요양등급 5등급 어르신은 사회복지사 월2회 방문이 의무입니다.<br><br>
                케어링은 현재 서울 강남, 서초에만 위치해 있어 강남, 서초, 송파를 제외한 타지역에 경우 방문이 어렵습니다.<br><br>
                5등급 어르신께서는 거주지 주변의 재가센터를 이용하셔야 합니다. 추후 등급이 상향된다면 케어링을 이용하실 수 있습니다.<br><br>
                등급이 상향되셨을때 연락을 주시면 케어링과 진행 도와드릴 수 있도록 하겠습니다.<br>
            </p>
        </div>
        <div *ngIf="type==='일반 5등급'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                노인장기요양등급 5등급 어르신은 사회복지사 월2회 방문이 의무입니다.<br><br>
                케어링은 현재 서울 강남, 서초에만 위치해 있어 강남, 서초, 송파를 제외한 타지역에 경우 방문이 어렵습니다.<br><br>
                5등급 어르신께서는 거주지 주변의 재가센터를 이용하셔야 합니다. 추후 등급이 상향된다면 케어링을 이용하실 수 있습니다.<br><br>
                등급이 상향되셨을때 연락을 주시면 케어링과 진행 도와드릴 수 있도록 하겠습니다.<br>
            </p>
        </div>
        <div *ngIf="type==='일반요양'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                방문요양서비스를 제공받으실 어르신께서 노인장기요양등급이 있으신가요?<br>
                (장애인등급과 다름)
            </p>
            <button class="bot" (click)="type='일반 등급있다.'">있다.</button>
            <button class="bot" (click)="type='일반 등급없다.'">없다.</button>
        </div>
        <div *ngIf="type==='일반 등급있다.'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                어르신 노인장기요양등급
            </p>
            <button class="bot" (click)="type='일반 1~4등급'">1~4등급</button>
            <button class="bot" (click)="type='일반 5등급'">5등급</button>
        </div>
        <div *ngIf="type==='일반 1~4등급'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                어르신 거주지
            </p>
            <button class="bot" (click)="type='수도권'">수도권</button>
            <button class="bot" (click)="type='지방'">지방</button>
        </div>
        <div *ngIf="type==='수도권'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
            <p>
                1522-6585로 전화주시면 고객님의 조건에 맞는 선생님을 매칭시켜드릴 수 있도록 하겠습니다.<br><br>
                아래 번호를 입력해주시면 입력해주시면 24시간이내 연락드리도록 예약할 수 있습니다.<br>
            </p>
            <a href="http://pf.kakao.com/_twEmK/chat" target="_blank"><img src="../assets/img/web_button_kakao.svg" style=" height: 45px"  alt="카카오톡 이미지"></a>
        </div>
        <div *ngIf="type==='지방'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                현재 케어링은 서울-강남,서초에 위치해 있습니다.
                케어링 일반요양은 높은 수준의 요양서비스를 제공드리기 위해 대면으로 진행하고 있습니다.
                통화상으로도 얼마든지 연결이 가능하지만 현재로썬 어르신을 뵙지않고 진행한다는것이 예의가
                아니라 생각하며 또한 만족하실수 있는 서비스를 제공하기 어려움이 있습니다.

                케어링은 추후 각 지역에 센터를 개점할 계획이 있습니다.
                각 지역에 센터들이 개점 후 그 지역의 케어링을 이용해주시면 감사하겠습니다.
            </p>
        </div>
        <div *ngIf="type==='요양보호사 구직문의'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                요양보호사 자격증이 있으신가요?
            </p>
            <button class="bot" (click)="type='구직 자격증있다.'">있다.</button>
            <button class="bot" (click)="type='요양보호사 자격증 문의'">없다.</button>
        </div>
        <div *ngIf="type==='구직 자격증있다.'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                1522-6585로 전화 또는 카톡상담을 통해 다음 질문에 대한 답을 알려주면
                케어링 요양보호사 리스트에 등록후 알려주신 답변에 맞는 어르신께서 요양보호사 선생님을 요청하시면 어르신과 매칭시켜드리도록 하겠습니다.<br><br>
                1. 이름<br>2. 출생년도<br>3. 거주지역(구 까지)<br>4. 가능시간<br>5. 희망지역<br>6. 핸드폰 번호<br>7. 경력<br>8. 주말가능여부(o,x)<br>9. 남자어르신 가능여부(o,x)<br>
                10. 어르신 거주지 애완동물 가능여부(o,x)
            </p>
            <a href="http://pf.kakao.com/_twEmK/chat" target="_blank"><img src="assets/img/web_button_kakao.svg" style="margin-top: 0; width: 45%"  alt="카카오톡 이미지"></a>
        </div>
        <div *ngIf="type==='요양보호사 자격증 문의'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                가족요양, 일반요양과 같이 요양보호사 일을 하기 위해서는 요양보호사 자격증이 필요합니다.<br><br>
                버튼을 누르시면 요양보호사 자격증 절차에 대해 자세히 알려드리겠습니다.
            </p>
            <a href="https://blog.naver.com/caring_official/222027041747" target="_blank" ><button class="bot" style="cursor: pointer">자세히 알아보기</button></a>
        </div>
        <div *ngIf="type==='복지용구 문의'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                복지용구는 장기요양등급보유자에 한해 국가에서 연 160만원을 지원해줍니다.<br><br>
                <img src="assets/img/care_item.webp" alt="복지용구 사진" style="width: 95%">
                케어링 복지용구센터에서 온라인 또는 전화 주문이 가능합니다.<br>
                주문에 어려움이 있으시다면 지체없이 1522-6585로 전화주시면 빠른 주문 도와드리겠습니다.
            </p>
            <a href="https://smartstore.naver.com/caringmart" target="_blank" ><button class="bot" style="cursor: pointer">온라인 주문하기</button></a>
            <a href="http://pf.kakao.com/_twEmK/chat" target="_blank" ><button class="bot" style="cursor: pointer">카톡 상담하기</button></a>
            <a href="https://blog.naver.com/caring_official/221920469951" target="_blank" ><button class="bot" style="cursor: pointer">장기요양등급 발급절차 확인하기</button></a>
        </div>
        <div *ngIf="type==='기타 문의'" class="first">
            <img src="../assets/img/caring-logo.webp" alt="케어링 로고">
            <p>
                <span>기타 문의<br><br></span>
                그 외 궁금하신 내용이 있으시면 1522-6585로 전화 또는 카톡 상담 주세요.
            </p>
            <a href="tel:1522-6585" target="_blank" ><button class="bot" style="cursor: pointer">전화 연결하기</button></a>
            <a href="http://pf.kakao.com/_twEmK/chat" target="_blank" ><button class="bot" style="cursor: pointer">카톡으로 상담하기</button></a>
        </div>-->
    </div>
</div>
<div class="m_chatBot" *showItSizes="{min: 300, max: 599}" (scroll)="onScroll($event)">
    <img *ngIf="click===false && scroll===true" id="m_chatImg" src="../assets/img/Q&A.png" alt="챗봇 이미지" (click)="click=true;">
    <img *ngIf="click===false && scroll===false" id="m1_chatImg" src="../assets/img/Q&A.png" alt="챗봇 이미지" (click)="click=true;">
    <div *ngIf="click===true" class="bg"></div>
    <div *ngIf="click===true" class="animate__fadeInUp" style="border-top-left-radius: 23px; border-top-right-radius: 23px; position: fixed; top: 68px; z-index: 150; padding: 23px 19px 20vh 19px">
        <div>
            <img src="../assets/img/Q&A_black.png" alt="Q&A 블랙이미지">
            <img src="../assets/img/close_img.svg" style="float: right" (click)="click=false; type='자주 묻는 질문'" alt="닫기 이미지"><br>
            <h4 style="margin-bottom: 23px">자주 묻는 질문</h4>
            <div class="m_main" *ngIf="type==='자주 묻는 질문'">
                <button class="bot" id="m_Q1" (click)="type='가족요양 제도란?'">
                    가족요양 제도란?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
                <button class="bot" id="m_Q2" (click)="type='케어링 가족요양 급여는?'">
                    케어링 가족요양 급여는?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
                <button class="bot" id="m_Q3" (click)="type='센터마다 급여가 다른 이유?'">
                    센터마다 급여가 다른 이유?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
                <button class="bot" id="m_Q4" (click)="type='본인부담금이란?'">
                    본인부담금이란?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
                <button class="bot" id="m_Q5" (click)="type='지방인데 이용 가능한가요?'">
                    지방인데 이용 가능한가요?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
            </div>
            <div class="m_chatroom" *ngIf="type!=='자주 묻는 질문'">
                <div *ngIf="type==='가족요양 제도란?'" class="m_first">
                    <p>
                        <span>가족요양 제도란?<br><br></span>
                        가족요양이란 어르신이 노인장기요양보험등급을 받으시고,
                        월 160시간 미만의 근로를 하시는 가족분이 요양보호사 자격증을 취득하신 후,
                        어르신을 가족이 직접 케어하고 급여를 받으실 수 있는 제도입니다.
                    </p>
                    <a href="https://m.blog.naver.com/caring_official/222093026832" target="_blank" ><button>자세히 알아보기</button></a>
                </div>
                <div *ngIf="type==='케어링 가족요양 급여는?'" class="m_first">
                    <p>
                        <span>케어링 가족요양 급여는?<br><br></span>
                        2021년 케어링 가족요양 60분은 21,200원 / 90분은 28,400원으로 책정되어 있습니다.
                        90분으로 31일 근무할 시, 월 88만원 정도의 금액이 총급여가 됩니다.
                        케어링은 전국 최고 수준의 급여로 요양보호사분들을 맞이하고 있습니다.
                    </p>
                    <a href="https://blog.naver.com/caring_official/222141574989" target="_blank" ><button>자세히 알아보기</button></a>
                </div>
                <div *ngIf="type==='센터마다 급여가 다른 이유?'" class="m_first">
                    <p>
                        <span>센터마다 급여가 다른 이유?<br><br></span>
                        건강보험공단에서 각 센터에 주는 수가는 동일하지만,
                        각 센터의 운영 방식에 따라  운영비, 시설비, 수익 등을 공제하고 나머지 금액을 가족요양보호사분들께 드립니다.<br><br>
                        때문에 센터마다 요양보호사님께 드리는 금액은 상이합니다.
                        케어링은 최소한의 운영비만을 제외하고 모든 금액을 요양보호사분들께 돌려드리려고 하고 있습니다.
                    </p>
                    <a href="https://blog.naver.com/caring_official/222116413246" target="_blank" ><button>자세히 알아보기</button></a>
                </div>
                <div *ngIf="type==='본인부담금이란?'" class="m_first">
                    <p>
                        <span>본인부담금이란?<br><br></span>
                        노인장기요양보험제도로 국가에서 지원을 받는 금액은 총비용의 85% 정도입니다.
                        나머지 15%에 대해서는 고객분들이 부담하셔야 합니다. 이를 본인부담금이라고 부릅니다.<br><br>
                        총 급여 중에 15%의 본인부담금을 공제해서 급여를 받으시거나, 전체 급여를 받으신 후에 따로 본인부담금을 납부하실 수도 있습니다.
                    </p>
                    <a href="https://blog.naver.com/caring_official/222062785398" target="_blank" ><button>자세히 알아보기</button></a>
                </div>
                <div *ngIf="type==='지방인데 이용 가능한가요?'" class="m_first">
                    <p>
                        <span>지방인데 이용 가능한가요?<br><br></span>
                        <span style="text-decoration: underline">전국 어디서나 케어링 가족요양을 할 수 있습니다.</span>
                        케어링은 현재 서울에 본사를 두고 있지만, 계약부터 서비스 이용까지 전체 과정을
                        대면이나 우편없이 휴대폰 하나로 처리할 수 있는 시스템을 구축했습니다.<br><br>
                        모든 과정을 비대면으로 가능하게끔 운영하여 이미 전국 많은 지역에서 케어링을 이용하고 계십니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="click===true" class="m_double">
        <button (click)="choice()">이전으로</button>
        <a href="tel:1522-6585"><button style="margin-left: 10px">전화하기</button></a>
    </div>
</div>
<div class="m_chatBot" *showItSizes="{max: 299}" (scroll)="onScroll($event)">
    <img *ngIf="click===false && scroll===true" id="mm_chatImg" src="../assets/img/Q&A.png" alt="챗봇 이미지" (click)="click=true;">
    <img *ngIf="click===false && scroll===false" id="mm1_chatImg" src="../assets/img/Q&A.png" alt="챗봇 이미지" (click)="click=true;">
    <div *ngIf="click===true" class="bg"></div>
    <div *ngIf="click===true" class="animate__fadeInUp" style="border-top-left-radius: 23px; border-top-right-radius: 23px; position: fixed; top: 68px; z-index: 150; padding: 23px 19px 20vh 19px">
        <div>
            <img src="../assets/img/Q&A_black.png" alt="Q&A 블랙이미지">
            <img src="../assets/img/close_img.svg" style="float: right" (click)="click=false; type='자주 묻는 질문';" alt="닫기 이미지"><br>
            <h4 style="margin-bottom: 23px">자주 묻는 질문</h4>
            <div class="m_main" *ngIf="type==='자주 묻는 질문'">
                <button class="bot" id="mm_Q1" style="font-size: 15px" (click)="type='가족요양 제도란?'">
                    가족요양 제도란?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
                <button class="bot" id="mm_Q2" style="font-size: 15px" (click)="type='케어링 가족요양 급여는?'">
                    케어링 가족요양 급여는?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
                <button class="bot" id="mm_Q3" style="font-size: 15px" (click)="type='센터마다 급여가 다른 이유?'">
                    센터마다 급여가 다른 이유?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
                <button class="bot" id="mm_Q4" style="font-size: 15px" (click)="type='본인부담금이란?'">
                    본인부담금이란?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
                <button class="bot" id="mm_Q5" style="font-size: 15px" (click)="type='지방인데 이용 가능한가요?'">
                    지방인데 이용 가능한가요?
                    <img src="assets/img/move_img.svg" style="top: 3px" alt="이동 이미지">
                </button>
            </div>
            <div class="m_chatroom" *ngIf="type!=='자주 묻는 질문'">
                <div *ngIf="type==='가족요양 제도란?'" class="m_first" style="width: 87%">
                    <p>
                        <span>가족요양 제도란?<br><br></span>
                        가족요양이란 어르신이 노인장기요양보험등급을 받으시고,
                        월 160시간 미만의 근로를 하시는 가족분이 요양보호사 자격증을 취득하신 후,
                        어르신을 가족이 직접 케어하고 급여를 받으실 수 있는 제도입니다.
                    </p>
                    <a href="https://m.blog.naver.com/caring_official/222093026832" target="_blank" ><button>자세히 알아보기</button></a>
                </div>
                <div *ngIf="type==='케어링 가족요양 급여는?'" class="m_first" style="width: 87%">
                    <p>
                        <span>케어링 가족요양 급여는?<br><br></span>
                        2021년 케어링 가족요양 60분은 21,200원 / 90분은 28,400원으로 책정되어 있습니다.
                        90분으로 31일 근무할 시, 월 88만원 정도의 금액이 총급여가 됩니다.
                        케어링은 전국 최고 수준의 급여로 요양보호사분들을 맞이하고 있습니다.
                    </p>
                    <a href="https://blog.naver.com/caring_official/222141574989" target="_blank" ><button>자세히 알아보기</button></a>
                </div>
                <div *ngIf="type==='센터마다 급여가 다른 이유?'" class="m_first" style="width: 87%">
                    <p>
                        <span>센터마다 급여가 다른 이유?<br><br></span>
                        건강보험공단에서 센터에 주는 수가는 동일하지만,
                        센터의 운영 방식에 따라 운영비, 시설비, 수익 등을 공제하고 나머지 금액을 가족요양보호사분들께 드립니다.<br><br>
                        그래서 센터마다 요양보호사님께 드리는 금액은 상이합니다.
                        케어링은 최소한의 운영비만을 제외하고 모든 금액을 요양보호사분들께 돌려드리려고 하고 있습니다.
                    </p>
                    <a href="https://blog.naver.com/caring_official/222116413246" target="_blank" ><button>자세히 알아보기</button></a>
                </div>
                <div *ngIf="type==='본인부담금이란?'" class="m_first" style="width: 87%">
                    <p>
                        <span>본인부담금이란?<br><br></span>
                        노인장기요양보험제도로 국가에서 지원을 받는 금액은 총비용의 85% 정도입니다.
                        나머지 15%에 대해서는 고객분들이 부담하셔야 합니다. 이를 본인부담금이라고 부릅니다.<br><br>
                        총 급여 중에 15%의 본인부담금을 공제해서 급여를 받으시거나, 전체 급여를 받으신 후에 따로 본인부담금을 납부하실 수도 있습니다.
                    </p>
                    <a href="https://blog.naver.com/caring_official/222062785398" target="_blank" ><button>자세히 알아보기</button></a>
                </div>
                <div *ngIf="type==='지방인데 이용 가능한가요?'" class="m_first" style="width: 87%">
                    <p>
                        <span>지방인데 이용 가능한가요?<br><br></span>
                        <span style="text-decoration: underline">전국 어디서나 케어링 가족요양을 할 수 있습니다.</span>
                        케어링은 현재 서울에 본사를 두고 있지만, 계약부터 서비스 이용까지 전체 과정을
                        대면이나 우편없이 휴대폰 하나로 처리할 수 있는 시스템을 구축했습니다.<br><br>
                        모든 과정을 비대면으로 가능하게끔 운영하여 이미 전국 많은 지역에서 케어링을 이용하고 계십니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="click===true" class="m_double">
        <button (click)="choice()">이전으로</button>
        <a href="tel:1522-6585"><button style="margin-left: 10px">전화하기</button></a>
    </div>
</div>
