@import "section.button"

footer
  background-color: #292d33
  color: white
  padding-top: 50px
  padding-bottom: 50px


.cover-card
  margin: 40px 0
  height: 350px
  border-radius: 35px
  background-color: #f4edea
  position: relative
  overflow: hidden

  .content
    padding: 40px
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    z-index: 2


  &.blue
    background-color: #e6ecf7


  img.illust
    width: 500px
    position: absolute
    right: 0
    bottom: -100px
    @include lt-sm
      width: 80%
      bottom: 0

  button
    position: absolute
    bottom: 40px
    left: 40px
    padding: 15px 40px
    border-radius: 50px
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15)
    background-color: #ffffff
    border: none
    font-size: 22px
    font-weight: bold

    &.close-btn
      right: 40px
      left: initial
      border-radius: 50%
      width: 80px
      padding: 0
      text-align: center
      height: 80px
      border: 1px solid white
      background: transparent
      color: white

    @include lt-sm
      width: 80%
      left: 10%
      padding-top: 10px
      padding-bottom: 10px
      font-size: 18px
      bottom: 30px

  p
    font-size: 14px
    font-weight: bolder
    margin-top: 5px

section.call
  overflow: hidden
  text-align: center
  position: relative
  padding-bottom: 0
  background-color: #f1f1f1

  img
    border: 0
    min-width: 300px
    max-width: 500px
    width: 70%
    margin-bottom: -10px

  a
    color: inherit


.divider
  border-top: 1px solid #eee


.animated
  .background
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: #7a5a58
    z-index: 0

  .back
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    z-index: 1
    padding: 40px
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  color: white
  transition: .3s

.blue .animated .background
  background: #5b5e82

.check-icon
  width: 15px
  margin: 3px
  vertical-align: middle
  padding-bottom: 3px

b
  font-weight: bold
