<section style="background-color: #f4edea;" *showItSizes="{min:1440}">
    <a href="https://blog.naver.com/caring_official/222098544852" target="_blank">
        <img src="../../assets/img/benner.jpg" style="width: 100%;cursor: pointer" alt="2020대한민국 최고브랜드 대상 상장">
    </a>
</section>


<section style="background-color: #f4edea;" *showItSizes="{min:900, max:1439}">
    <a href="https://blog.naver.com/caring_official/222098544852" target="_blank">
        <img src="../../assets/img/benner.jpg" style="width: 100%;cursor: pointer" alt="2020대한민국 최고브랜드 대상 상장">
    </a>
</section>


<section style="background-color: #f4edea;" *showItSizes="{min:600, max:899}">
    <a href="https://blog.naver.com/caring_official/222098544852" target="_blank">
        <img src="../../assets/img/m_benner.jpg" style="width: 100%;cursor: pointer" alt="2020대한민국 최고브랜드 대상 상장">
    </a>
</section>


<section style="text-align: center; background-color: #f4edea;" *showItSizes="{max:599}">
    <a href="https://blog.naver.com/caring_official/222098544852" target="_blank">
        <img src="../../assets/img/m_benner.jpg" style="width: 100%;cursor: pointer" alt="2020대한민국 최고브랜드 대상 상장">
    </a>
</section>
