<section style="text-align: center" *showItSizes="{min:1440}">
    <div class="container">
        <div style="border-top: 1px solid rgba(151, 151, 151, 0.3);margin-bottom: 233px"></div>
        <h2 style="font-size: 38px;margin-bottom: 14px">가장 편안하고 품격있는 요양<br>
            케어링하세요</h2>
        <div>
            <a href="tel:1522-6585" style="font-size: 20px;text-decoration: none;color: inherit">
                무료전화 1522-6585
            </a>
        </div>
        <div style="width: 787px;
    height: 492px;
    background: url(../../assets/img/main_img_04.png);
    display: inline-block;margin-bottom: -6px;
    background-size: 787px;"></div>
        <!--        <img style="width: 787px" src="../../assets/img/main_img_04.png">-->
    </div>
</section>
<section style="text-align: center" *showItSizes="{min:900, max:1439}">
    <div class="container">
        <div style="border-top: 1px solid rgba(151, 151, 151, 0.3);margin-bottom: 157px"></div>
        <h2 style="font-size: 38px;margin-bottom: 14px">가장 편안하고 품격있는 요양<br>
            케어링하세요</h2>
        <div>
            <a href="tel:1522-6585" style="font-size: 20px;text-decoration: none;color: inherit">
                무료전화 1522-6585
            </a>
        </div>
        <div style="width: 787px;
    height: 492px;
    background: url(../../assets/img/main_img_04.png);
    display: inline-block;margin-bottom: -6px;
    background-size: 787px;"></div>
        <!--        <img style="width: 787px" src="../../assets/img/main_img_04.png">-->
    </div>
</section>
<section style="text-align: center" *showItSizes="{min:600, max:899}">
    <div class="container">
        <div style="border-top: 1px solid rgba(151, 151, 151, 0.3);margin-bottom: 157px"></div>
        <h2 style="font-size: 38px;margin-bottom: 14px">가장 편안하고 품격있는 요양<br>
            케어링하세요</h2>
        <div>
            <a href="tel:1522-6585" style="font-size: 20px;text-decoration: none;color: inherit">
                무료전화 1522-6585
            </a>
        </div>
        <!--        <img style="width: 787px" src="../../assets/img/main_img_04.png">-->
    </div>
    <div style="width: 100%;
    height: 492px;
    background: url(../../assets/img/main_img_04.png);
    display: inline-block;margin-bottom: -6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 787px;"></div>
</section>
<section style="text-align: center" *showItSizes="{max:599}">
    <div class="container">
        <h2 style="font-size: 20px;margin-bottom: 14px;margin-top: 80px">가장 편안하고 품격있는 요양<br>
            케어링하세요</h2>
        <div>
            <a href="tel:1522-6585" style="font-size: 20px;text-decoration: none;color: inherit;margin-bottom: 20px">
                무료전화 1522-6585
            </a>
        </div>
        <!--        <img style="width: 787px" src="../../assets/img/main_img_04.png">-->
    </div>
    <div style="width: 100%;
    margin-top: 20px;
    height: 230px;
    background: url(../../assets/img/main_img_04.png);
    display: inline-block;margin-bottom: -6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%"></div>
</section>
