<section class="banner" *showItSizes="{min:1440}">
    <a href="https://blog.naver.com/caring_official/222098544852" target="_blank">
        <img src="../../assets/img/banner.webp" class="pc_bestBrand" alt="2020대한민국 최고브랜드 대상 상장">
    </a>
</section>


<section class="banner" *showItSizes="{min:900, max:1439}">
    <a href="https://blog.naver.com/caring_official/222098544852" target="_blank">
        <img src="../../assets/img/banner.webp" class="pc_bestBrand" alt="2020대한민국 최고브랜드 대상 상장">
    </a>
</section>


<section class="banner" *showItSizes="{min:600, max:899}">
    <a href="https://blog.naver.com/caring_official/222098544852" target="_blank">
        <img src="../../assets/img/m_banner.webp" class="pc_bestBrand" alt="2020대한민국 최고브랜드 대상 상장">
    </a>
</section>


<section class="banner" *showItSizes="{max:599}">
    <a href="https://blog.naver.com/caring_official/222098544852" target="_blank">
        <img src="../../assets/img/m_banner.webp" id="mo_bestBrand" alt="2020대한민국 최고브랜드 대상 상장">
    </a>
</section>
