<section class="help" id="help">
    <div class="container">
        <h1 class="mb-4">무료 전화 상담</h1>
        <p>
            아래 양식에 따라 신청서를 보내주시면<br>
            평일 24시간 이내 무료 전화 상담을 도와드립니다.
        </p>
        <div class="form-box">
            <div class="input-box text-center" *ngIf="reserved" style="padding-top: 50px;padding-bottom: 50px">
                예약이 성공적으로<br>
                완료되었습니다.
                <div style="margin-top: 40px;color: gray;font-size: 80%;font-weight: normal">
                    선택하신 시간대에 맞추어<br>
                    순차적으로 연락을 드리겠습니다.
                </div>
                <div class="text-center mt-5">
                    <button class="brown" (click)="reserveCancel()">이전으로</button>
                </div>
            </div>
            <div class="input-box" *ngIf="!reserved">
                <label>
                    성함
                </label>
                <input placeholder="성함을 입력해주세요." type="text" [(ngModel)]="name">
                <label class="mt-4">
                    전화번호
                </label>
                <input placeholder="전화번호를 입력해주세요." type="text" [(ngModel)]="phone">
                <label class="mt-4 mb-2">
                    상담을 원하는 서비스 <span style="font-size: 90%;color: gray">(중복선택가능)</span>
                </label>
                <div>
                    <label class="container-checkbox">홈케어
                        <input type="checkbox" [(ngModel)]="home">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container-checkbox ml-4">외출동행
                        <input type="checkbox" [(ngModel)]="goWith">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="mt-2">
                    상담가능 시간대
                    <div class="select">
                        <select [(ngModel)]="time">
                            <option [value]="0">오전</option>
                            <option [value]="1">오후</option>
                            <option [value]="2">오전, 오후 모두가능</option>
                        </select>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <button class="brown" (click)="reserve()">상담 예약하기</button>
                </div>
            </div>

        </div>
    </div>
</section>
