<section style="padding-top: 108px;padding-bottom: 125px" *showItSizes="{min:600}">
    <div class="container">
        <h3 style="margin-bottom: 49px">자주 묻는 질문</h3>
        <!--    <div>원하시는 질문 유형을 선택하세요.</div>-->
        <cr-question *ngFor="let qna of questions" [qna]="qna"></cr-question>
    </div>
</section>
<section style="padding-top: 37px;padding-bottom: 30px" *showItSizes="{max:599}">
    <div class="container">
        <h3 style="margin-bottom: 10px">자주 묻는 질문</h3>
        <!--    <div>원하시는 질문 유형을 선택하세요.</div>-->
        <cr-question *ngFor="let qna of questions" [qna]="qna"></cr-question>
    </div>
</section>
