@import "section.button"


.card-review
  display: inline-block
  width: 299px
  height: 459px
  box-shadow: 0 8px 23px 0 rgba(0, 0, 0, 0.15)
  border-radius: 35px
  padding-top: 37px
  padding-left: 35px
  padding-right: 42px
  vertical-align: middle
  text-align: center
  font-size: 24px

  &:not(:last-child)
    margin-right: 15px

  img
    width: 104px
    height: 104px
    border-radius: 50%

  b
    margin-top: 12px
    display: inline-block


  p
    font-size: 20px
    margin-top: 19px
    text-align: justify
    line-height: 1.5
    font-weight: 500

  h4
    margin-top: 21px


.review-m
  width: 80%
  //height: 220px
  box-shadow: 0 8px 23px 0 rgba(0, 0, 0, 0.15)
  border-radius: 32px
  margin: 10px auto 25px
  text-align: center
  padding: 20px
  font-size: 14px


  img
    margin-top: 20px
    width: 90px
    height: 90px
    border-radius: 50%

  p
    font-size: 14px
    font-weight: bold
    margin-top: 1.2rem
    text-align: justify

.navi
  position: absolute
  right: 15px
  top: 0

  svg
    vertical-align: middle
    margin-left: 7px

  .dot
    vertical-align: middle
    margin-left: 7px
    width: 6px
    height: 6px
    border-radius: 50%
    background: #d8d8d8
    display: inline-block

    &.active
      background: #292d33

swiper > .swiper.s-wrapper .swiper-wrapper .swiper-slide
  overflow: visible !important
