<div id="story">
    <section *showItSizes="{min:1023}">
        <div class="container">
            <h2 class="mb-4">케어링과<br>함께한 이야기</h2>
            <div class="card-review" *ngFor="let story of stories" (click)="moveTo(story.href)">
                <img [src]="'../assets/img/'+story.img">
                <h3><b>{{story.name}}</b> 님</h3>
                <p [innerHTML]="story.story"></p>
            </div>
        </div>
    </section>
    <section *showItSizes="{max:1024}">
        <div class="container">
            <h2 class="mb-4">케어링과<br>함께한 이야기</h2>
            <div class="navi">
                <span class="dot" [class.active]="index === i" (click)="index = i"
                      *ngFor="let story of stories; let i = index"></span>
            </div>
            <swiper [(index)]="index" [config]="{autoHeight:true}">
                <div *ngFor="let story of stories" (click)="moveTo(story.href)">
                    <div class="review-m">
                        <img [src]="'../assets/img/'+story.img"><br>
                        <b>{{story.name}}</b> 님
                        <p [innerHTML]="story.story"></p>
                    </div>
                </div>
            </swiper>
        </div>
    </section>
</div>
