<section class="header" *showItSizes="{min:900}">
    <div class="container" style="position: relative">
        <span routerLink="/admin">
            <img src="./../assets/img/logo-title.svg" class="logo"
                 style="width: 152px;margin-left: -20px;" alt="">
        </span><br>
        <button class="main_btn" style="width: 203px" >수급자 / 요양보호사 관리</button>
        <button class="main_btn">일정 자료 업로드</button>
        <button class="main_btn">기록지 자동 생성</button>
        <button class="main_btn">계약서 작성</button>
        <button class="main_btn">전체문자 발송</button>
    </div>
</section>

