<div class="container">
    <table class="table" #table>
        <thead>
        <tr>
            <th>접수번호</th>
            <th>접수일시</th>
            <th>성함</th>
            <th>연락처</th>
            <th>홈케어</th>
            <th>외출동행</th>
            <th>연락시간</th>
            <th>전화접수</th>
            <th>메모</th>
            <th></th>
        </tr>
        </thead>
        <tbody *ngFor="let item of data?.content">
        <tr *ngIf="item.id">
            <td>{{item.id}}</td>
            <td>{{item.createdAt | date : 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{item.phone}}</td>
            <td>
                <!--                <img src="./../../assets/img/checked.svg" *ngIf="item.optionHome" class="check-icon">-->
                <span *ngIf="item.optionHome">o</span>
            </td>
            <td>
                <!--                <img src="./../../assets/img/checked.svg" *ngIf="item.optionGoWith" class="check-icon">-->
                <span *ngIf="item.optionGoWith">o</span>
            </td>
            <td [ngSwitch]="item.optionTime">
                <span *ngSwitchCase="0">오전</span>
                <span *ngSwitchCase="1">오후</span>
                <span *ngSwitchCase="2">무관</span>
            </td>
            <td>
                <span *ngIf="item.direct">o</span>
            </td>
            <td>
                <textarea [(ngModel)]="item.memo" (ngModelChange)="save(item)"></textarea>
            </td>
            <td>
                <button (click)="delete(item)">-</button>
            </td>
        </tr>
        <tr *ngIf="!item.id">
            <td colspan="2">
                <button (click)="save(item)">저장하기</button>
            </td>
            <td>
                <input [(ngModel)]="item.name">
            </td>
            <td>
                <input [(ngModel)]="item.phone">
            </td>
            <td>
                <!--                <img src="./../../assets/img/checked.svg" *ngIf="item.optionHome" class="check-icon">-->
                <input type="checkbox" [(ngModel)]="item.optionHome">
            </td>
            <td>
                <!--                <img src="./../../assets/img/checked.svg" *ngIf="item.optionGoWith" class="check-icon">-->
                <input type="checkbox" [(ngModel)]="item.optionGoWith">
            </td>
            <td>
                <select [(ngModel)]="item.optionTime">
                    <option [value]="0">오전</option>
                    <option [value]="1">오후</option>
                    <option [value]="2">무관</option>
                </select>
            </td>
            <td>
                <input type="checkbox" [(ngModel)]="item.direct">
            </td>
            <td>
                <textarea [(ngModel)]="item.memo"></textarea>
            </td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
    <at-pagination (pageChange)="load($event)" [pageable]="data?.pageable" [size]="data?.totalPages"></at-pagination>
    <button (click)="new()">새 상담 기록</button>
    <button (click)="download(table)">다운로드</button>
</div>
<cr-chatbot></cr-chatbot>
