<div class="container">
    <table class="table" #table>
        <thead>
        <tr>
            <th>접수번호</th>
            <th>접수일시</th>
            <th>성함</th>
            <th>연락처</th>
            <th>홈케어</th>
            <th>외출동행</th>
            <th>연락시간</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of data?.content">
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.createdAt | date : 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{item.name}}</td>
            <td>{{item.phone}}</td>
            <td>
                <!--                <img src="./../../assets/img/checked.svg" *ngIf="item.optionHome" class="check-icon">-->
                <span *ngIf="item.optionHome">o</span>
            </td>
            <td>
                <!--                <img src="./../../assets/img/checked.svg" *ngIf="item.optionGoWith" class="check-icon">-->
                <span *ngIf="item.optionGoWith">o</span>
            </td>
            <td [ngSwitch]="item.optionTime">
                <span *ngSwitchCase="0">오전</span>
                <span *ngSwitchCase="1">오후</span>
                <span *ngSwitchCase="2">무관</span>
            </td>
        </tr>
        </tbody>
    </table>
    <at-pagination (pageChange)="load($event)" [pageable]="data?.pageable" [size]="data?.totalPages"></at-pagination>
    <button (click)="download(table)">다운로드</button>
</div>
