@import "responsive"

select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  outline: 0
  box-shadow: none
  border: solid 2px #979797 !important
  background: url('../../assets/img/path-13.svg') no-repeat 95% 50%

select::-ms-expand
  display: none


.select
  position: relative
  margin-bottom: 30px
  @include lt-xs
    margin-bottom: 20px

select
  line-height: 2.5
  position: relative
  width: 95%
  font-size: 20px
  cursor: pointer
  padding: 0 16px
  overflow: hidden
  @include lt-xs
    font-size: 18px

select:hover
  background-color: #f4edea




//select option:hover
//  box-shadow: 0 0 10px 100px #1882A8 inset
//.select:hover::after
//  color: #f39c12
