table
  width: 100%
  margin: 30px auto
  text-align: center
  font-size: 12px

  textarea
    font-size: 15px
    resize: none
    min-height: 40px
    min-width: 400px


td, th
  font-size: 15px
  vertical-align: middle
  border: 1px solid black

input
  font-size: 15px

  &:focus
    border: 3px hotpink solid

input[type="text"]
  margin-right: 15px
  size: 40px
  width: 80px

input[type="number"]
  margin-right: 15px
  size: 40px
  width: 60px

input[type="radio"]
  width: 20px
  &:focus
    outline: 2px solid hotpink

input[type="checkbox"]:focus
  outline: 2px solid hotpink
  &:hover
    cursor: pointer

select
  margin-right: 15px
  &:focus
    outline: 2px solid hotpink


button
  &:focus
    border: 2px solid hotpink

  &:active
    transform: scale(0.95)

textarea
  font-size: 15px
  resize: none
  min-height: 80px
  width: 150px
  margin-left: 30px

  &:focus
    border: 2px solid hotpink

label
  margin-left: 30px

.btn_cg
  margin-top: 30px
  margin-left: 30px

#matching
  float: right
  font-size: 20px
  border-radius: 15px
  background-color: hotpink
  border: 1px solid hotpink
  color: white
