<section class="head" *showItSizes="{min:601}">
    <div class="container">
        <h2 class="mb-4">케어링 프리미엄<br> 종합 방문 요양</h2>
        <p class="mb-4">
            본사 직영이라 믿을 수 있는<br>
            고품격 요양서비스, 지금 시작하세요.
        </p>
        <button ngx-scroll-to="story">더 알아보기</button>
        <button class="brown" ngx-scroll-to="#help">상담 예약하기</button>
        <img src="../../assets/img/main_img_03_dark.png">
    </div>
</section>
<section class="head text-center" style="padding-top: 60px;padding-bottom: 100px" *showItSizes="{max:600}">
    <div class="container">
        <h2 class="mb-4">케어링 프리미엄<br> 종합 방문 요양</h2>
        <p class="mb-4">
            본사 직영이라 믿을 수 있는<br>
            고품격 요양서비스, 지금 시작하세요.
        </p>
        <div class="mb-3">
            <button ngx-scroll-to="story" style="width: 80%;padding-top:10px;padding-bottom: 10px">더 알아보기</button>
        </div>
        <div>
            <button class="brown" style="width: 80%;padding-top:10px;padding-bottom: 10px" ngx-scroll-to="#help">상담
                예약하기
            </button>
        </div>
        <img style="display: block;position: relative;width: 100%;margin-top: -80px"
             src="../../assets/img/main_img_03_dark.png">
    </div>
</section>
