@import "section.button"

.head
  background-color: #f4edea

  img
    width: 707px
    position: absolute

  p
    font-size: 24px
    font-weight: 409

.layer
  margin-top: 30px
  position: fixed
  left: 50%
  top: 300px
  transform: translate(-50%,-50%)
  width: 500px
  height: 600px
  z-index: 100

  a
    text-decoration: none

  img
    width: 100%
    display: block

  .close
    position: fixed
    text-align: center
    top: 0
    right: 0
    z-index: 101
    background: #FFEAEA
    color: #292d33
    font-size: 24px
    font-weight: bold
    border-radius: 0
    padding: 0
    box-shadow: 0 0 0 0

    &:hover
      text-decoration: underline

