@import "section.button"

.head
  background-color: #f4edea

  img
    width: 707px
    position: absolute

  p
    font-size: 24px
    font-weight: 500

button
  @include lt-xs
    font-size: 14px
    width: 80%
    padding-top: 12px
    padding-bottom: 10px
    margin: auto auto 11px
