<section style="padding-top: 174px;padding-bottom: 137px" class="head" *showItSizes="{min:1440}">
    <div class="container">
        <img src="../../assets/img/caring-logo.svg" style="width: 165px;height: 43px;top: -140px;left: 141px">
        <img src="../../assets/img/main_img_03_dark.png" style="top: -21px;left: 672px">
        <h2>품격있는 방문요양<br> 케어링으로 시작하세요.</h2>
        <p style="margin-top: 25px; margin-bottom: 40px">
            집보다 편한 곳은 없습니다.<br>
            보호자님과 어르신께 꼭 맞는 돌봄 서비스,<br>
            케어링과 함께라면 가능합니다.
        </p>
        <p style="font-size: 26px;">
            무료 상담 전화<br>
            <label style="font-size: 46px;font-weight: bold;text-decoration: none;color: #4354b5">
                1522-6585
            </label>
        </p>
    </div>
</section>

<section style="padding-top: 124px;padding-bottom: 30px" class="head" *showItSizes="{min:900,max:1439}">
    <div class="container">
        <img src="../../assets/img/caring-logo.svg" style="width: 165px;height: 43px;top: -110px;">
        <img src="../../assets/img/main_img_03_dark.png" style="width: 450px; left: 430px; top:19px;">
        <div style="position: relative;z-index: 10;">
            <h2 style="font-size: 38px;">품격있는 방문요양<br> 케어링으로 시작하세요.</h2>
            <p style="font-size: 20px; margin-top: 25px; margin-bottom: 40px">
                집보다 편한 곳은 없습니다.<br>
                보호자님과 어르신께 꼭 맞는 돌봄 서비스,<br>
                케어링과 함께라면 가능합니다.
            </p>
            <p style="font-size: 20px;">
                무료 상담 전화<br>
                <label style="font-size: 38px;font-weight: bold;text-decoration: none;color: #4354b5">
                    1522-6585
                </label>
            </p>
        </div>
    </div>
</section>

<section style="text-align: center" class="head"
         *showItSizes="{min:600,max:899}">
    <div class="container" style="width: 85%">
        <img src="../../assets/img/caring-logo.svg" style="position: relative; width: 165px; height: 43px; padding-bottom: 30px; margin-left: auto; margin-right: auto;">
        <div style="position: relative; z-index: 10;">
            <h2 style="font-size: 34px;">품격있는 방문요양<br> 케어링으로 시작하세요.</h2>
            <p style="font-size: 18px; margin-top: 15px; margin-bottom: 20px">
                집보다 편한 곳은 없습니다.<br>
                보호자님과 어르신께 꼭 맞는 돌봄 서비스,<br>
                케어링과 함께라면 가능합니다.
            </p>
            <p style="font-size: 18px;">
                무료 상담 전화
            </p>
            <label style="font-size: 34px;font-weight: bold;text-decoration: none;color: #4354b5">
                1522-6585
            </label>
        </div>
        <img src="../../assets/img/main_img_03_dark.png" style="position: relative; width: 400px; margin-left: auto; margin-right: auto; top: 6px;">
    </div>
</section>

<section class="head" style=" text-align: center;padding-top: 60px"
         *showItSizes="{max:599}">
    <div class="container" style="width: 100%; text-align: center; padding: 0px;">
        <div style="display: block;
    position: relative;
    width: 100%;
    height: 33px;
    margin-left: -20%;
    margin-top: -40px;
    margin-bottom: 98px;
    background-image: url(../../assets/img/caring-logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;"></div>
        <h2 style="font-size: 24px">품격있는 방문요양<br> 케어링으로 시작하세요.</h2>
        <div style="font-size: 14px;margin-top: 14px;margin-bottom: 21px">
            집보다 편한 곳은 없습니다.<br>
            보호자님과 어르신께 꼭 맞는 돌봄 서비스,<br>
            케어링과 함께라면 가능합니다.
        </div>
        <button type="button" onclick="location.href='tel:1522-6585'" style="font-size: 16px; margin-bottom: 26px; width: 250px; font-weight: bold;"> 무료 상담 전화하기</button>
        <div style="display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
    background-image: url(../../assets/img/main_img_03_dark_3x.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;"></div>

    </div>
</section>