@import "responsive"

\:host
  display: block
  padding: 15px 0
  //margin: 5px 0
  font-size: 20px
  @include lt-xs
    font-size: 14px

.q
  position: relative
  padding-right: 30px

  svg
    position: absolute
    right: 0
    top: 10px

.a
  margin-top: 35px


