<div class="container" style="padding: 0">
    <div style="overflow:auto; width:100px; height:614px; padding:5px; background-color:gold; display: inline-block; float: left; margin-right: 20px">
        <table>
            <th>보호사 명</th>
            <tr>
                <td>첫번째 칸</td>
            </tr>
            <tr>
                <td>첫번째 칸</td>
            </tr>
        </table>
    </div>
    <div style="display: inline-block;">

    </div>
    <div style="text-align: right">
        <button >전송</button>
    </div>
</div>

