/* You can add global styles to this file, and also import other style files */
@import "styles/reset.css"

body
  font-family: 'Noto Sans', sans-serif
  line-height: 1.6
  color: #292d33

h2
  font-size: 29px
  font-weight: bold

.container
  position: relative
