<section style="padding-top: 136px; padding-bottom: 160px" *showItSizes="{min:1440}">
    <div class="container">
        <h2 style="font-size: 40px;margin-bottom: 20px">케어링의 요양 서비스<br></h2>
        <div style="font-size: 20px">어르신과 보호자님께 꼭 맞는 유형의 요양을 선택하실 수 있습니다.</div>
        <div class="head" *ngFor="let service of services">
            <img [src]="'../assets/img/'+ service.img">
            <h4 style="font-size: 28px;">{{service.name}}</h4>
            <p [innerHTML]="service.story"></p>
            <div class=" card-review">
                <h4 style="font-size: 20px; margin-bottom: 13px;">{{service.title}}</h4>
                <span [innerHTML]="service.contents1"></span>
                <span style="color: #51cf66; font-weight: 700;" [innerHTML]="service.contents_green"></span>
                <span [innerHTML]="service.contents2"></span>
            </div>
        </div>
        
    </div>
</section>


<section style="padding-top: 100px; padding-bottom: 160px" *showItSizes="{min:900, max:1439}">
    <div class="container" style="left: 30px;width: 800px; padding: 0; margin-right: auto; margin-left: auto">
        <h2 style="font-size: 40px; margin-bottom: 10px">케어링의 요양 서비스<br></h2>
        <div style="font-size: 20px; margin-bottom: 20px">어르신과 보호자님께 꼭 맞는 유형의 요양을 선택하실 수 있습니다.</div>
        <div class="head-900" *ngFor="let service of services" style="width: 48%;">
            <img [src]="'../assets/img/'+ service.img" style="width: 100%; height: auto;">
            <h4 style="font-size: 22px;">{{service.name}}</h4>
            <p style="width: 319px; font-size: 18px;" [innerHTML]="service.story"></p>
            <div class=" card-review" style="width: 80%;">
                <h4 style="font-size: 22px;">{{service.title}}</h4>
                <span style="font-size: 16px;" [innerHTML]="service.contents1"></span>
                <span style="color: #51cf66; font-size: 16px; font-weight: bold;" [innerHTML]="service.contents_green"></span>
                <span style="font-size: 16px;" [innerHTML]="service.contents2"></span>
            </div>
        </div>
    </div>
</section>

<section style="padding-top: 50px; padding-bottom: 85px;" *showItSizes="{min:600, max:899}">
    <div class="container" style="width: 67%; left: 20px; padding: 0; margin-right: auto; margin-left: auto;">
        <h2 style="font-size: 28px; margin-bottom: 10px">케어링의 요양 서비스<br></h2>
        <div style="font-size: 18px; ">어르신과 보호자님께 꼭 맞는 유형의 요양을 선택하실 수 있습니다.</div>
        <div class="head" *ngFor="let service of services" style="width: 100%;">
            <img [src]="'../assets/img/'+ service.img" style="width: 100%">
            <h4>{{service.name}}</h4>
            <p style="width: 100%; padding-bottom: 80px;" [innerHTML]="service.story"></p>
            <div class="card-review" style="width: 87%; top: -80px;">
                <h4>{{service.title}}</h4>
                <span [innerHTML]="service.contents1"></span>
                <span style="color: #51cf66; font-weight: bold;" [innerHTML]="service.contents_green"></span>
                <span [innerHTML]="service.contents2"></span>
            </div>
        </div>
    </div>
</section>

<section style="width: 100%; padding-top: 40px; padding-bottom: 55px" *showItSizes="{max:599}">
    <div class="container" style="width: 100%; padding: 0px">
        <h2 style="width: 80%; font-size: 20px; margin: 0px auto 10px auto;">케어링의 요양 서비스<br></h2>
        <div style="width: 80%; font-size: 14px; margin-left: auto; margin-right: auto;">어르신과 보호자님께 꼭 맞는 유형의 요양을 선택하실 수 있습니다.</div>
        <div class="head_m" *ngFor="let service of services">
            <img [src]="'../assets/img/'+ service.img">
            <h4 style="padding-top: 20px; padding-bottom: 7px">{{service.name}}</h4>
            <p [innerHTML]="service.story"></p>
            <div class="card-review_m">
                <h4 style="font-size: 16px; margin-top: 10px; padding-left: 16px;">{{service.title}}</h4>
                <h4 style="padding-left: 16px; padding-right: 10px; font-weight: normal; line-height: 21px">
                    <span [innerHTML]="service.contents1"></span>
                    <span style="color: #51cf66; font-weight: bold;" [innerHTML]="service.contents_green"></span>
                    <span [innerHTML]="service.contents2"></span>
                </h4>
            </div>
        </div>
    </div>
</section>
